
# Django related
django==4.2.4
applicationinsights
django-crispy-forms==1.14.0
psycopg2-binary
#psycopg2 # On mac needs > brew install postgresql@12
django-bootstrap-v5
djangorestframework
python-dateutil
django-filter
django-widget-tweaks
importlib-metadata
gunicorn
dash==2.8.1
django_plotly_dash
requests
scipy==1.10.1
statsmodels==0.13.5

# Teams
SharePlum
reportlab==4.0.4

# Authentication and secrets
azure-common
azure-core
azure-identity
azure-keyvault-secrets
django-passkeys
django-sesame
drfpasswordless
django-extensions
python-dotenv
sendgrid
pyOpenSSL
