{% extends "baaswebapp/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include "trialapp/header_page_trial.html" with title=title subheader=fieldTrial.name new_href_id="assessment-add" refId=fieldTrial.id showButton=hasThesis %}
<div class="row">
    <div class="col-md-4">
        <div class="card card-body-baas">
        <table class="table dynamic-table">
        <thead><tr><th>Date</th><th>Name</th><th>Crop Stage</th>
            <th>Rate type (unit)</th><th>Part Rated</th> <th><a class="btn btn-baas" href="/meteo_api/{{ fieldTrial.id }}/">Forzar</a> Clima </th></tr></thead>
        <tbody>
        {% for item in object_list %}
            <tr id="item-{{ item.id }}">
                <td><a href="{% url 'assessment' item.id %}" class="btn btn-secondary">{{ item.assessment_date }}</a></td>
                <td>{{ item.name }}</td>
                <td>{{ item.crop_stage_majority }} BBCH</td>
                <td>{{ item.rate_type }}</td>
                <td>{{ item.part_rated }}</td>
                <td>{% include 'trialapp/assessment_weather.html'%}</td>
            </tr>
        {% empty %}
            <p>No assessments yet.</p>
        {% endfor %}
        </tbody></table>
        </div>
    </div>
    <div class="col-md-8">
        {% if graphPlotsT %}
            {% include 'trialapp/data_graphs.html' with graphPlots=graphPlotsT classGraph=classGraphT %}
        {% endif %}
        {% include 'trialapp/data_graphs.html' with graphPlots=graphPlotsR classGraph=classGraphR %}
        {% if fieldTrial.latitude %}
            {% include "trialapp/trial_content_cards.html" with dataContent=weatherGraph %}
        {% else %}
            <div class="alert alert-primary" role="alert">Please define location (latitude, longitude) of this trial to show meteorlogical info</div>
        {% endif %}
    </div>
</div>
{% endblock content %}
