<div class="row">
    {% if item.temp_avg %}
    <p class="txt-regular-13">
        <span class="material-symbols-outlined small-icon me-2 text-center">device_thermostat</span>
        {{item.temp_avg}} &deg;C</p>
    {% else %}
        <div class="loading-spinner"></div>
    {% endif %}

    {% if item.hum_avg %}
    <p class="txt-regular-13">
        <span class="material-symbols-outlined small-icon me-2 text-center">water_drop</span>{{item.hum_avg}} %</p>
    {% else %}
        <div class="loading-spinner"></div>
    {% endif %}

    {% if item.prep_avg %}
    <p class="txt-regular-13">
        <span class="material-symbols-outlined small-icon me-2">grain</span>{{item.prep_avg}} %</p>
    {% else %}
        <div class="loading-spinner"></div>
    {% endif %}
</div>