{% extends "baaswebapp/layout.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% include "trialapp/header_page_trial.html" with title=title subheader=fieldTrial.name subtitle='assessment' edit_href="assessment-update" item=assessment delete_url='assessment-delete'%}

<div class="card card-body-baas mt-2">
  <table><tr>
    <td>
    {% include "baaswebapp/item_list_template.html" with field='Name' value=assessment.name%}
    </td><td>
    {% include "baaswebapp/item_list_template.html" with field='Rate Date' value=assessment.assessment_date%}
    </td><td>
    {% include "baaswebapp/item_list_template.html" with field='Crop Stage Majority' value=assessment.crop_stage_majority%}
    </td><td>
      {% include "baaswebapp/item_list_template.html" with field='Part Rated' value=assessment.part_rated%}
    </td>
    </tr></table>
</div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body-baas mt-2">
      <table class="data-table-longer">
        <thead>
          <tr><th class="col-md-2">Thesis</th>
              {% if level == 'replica' %}
                <th class="text-right col-md-1">mean</th>
                <th class="text-right col-md-1">Replica</th>
              {% endif %}
              <th class="text-right col-md-1">{{assessment.rate_type}}</th></tr></thead>
        <tbody>
        {% for dataRow in dataRows %}
          <tr>
            {% if dataRow.rowspan > 0 %}
              <td class="bg-custom-{{dataRow.color}}" rowspan="{{dataRow.rowspan}}">{{dataRow.thesis}}</td>
              {% if level == 'replica' %}
                <td class="bg-custom-{{dataRow.color}} text-right" rowspan="{{dataRow.rowspan}}">{{dataRow.tvalue}}</td>
              {% endif %}
            {% endif %}
            {% if level == 'replica' %}
              <td class="bg-custom-{{dataRow.color}} text-right">{{dataRow.replica}}</td>
            {% endif %}
            <td class="bg-custom-{{dataRow.color}}">
              <form id="form-data-input-template-{{level}}-{{dataRow.item_id}}" 
                class='form-data-input-template'  method="POST">
                {% csrf_token %}
                <input type="text" name="data-point"
                    id="{{dataRow.item_id}}"
                    class="form-control-baas input data-input-template text-right"
                    placeholder="-"
                    value={{dataRow.value}}></input>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-body-baas mt-2">
        {{efficacy|safe}}
        {{graphData|safe}}
      </div>
      <div class="card card-body-baas mt-2">
        <h5>Statistics</h5>
        {{stats|safe}}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src='/static/baaswebapp/scripts/baas.js'></script>
<script>
var setDataPointAPI = '/set_data_point';
$('.data-input-template').on('blur', function(){
    var element=$(this);
    return setDataPoint(element, setDataPointAPI);
});

$('.data-input-template').on('keypress', function(event) {
    var element = $(this);
    return processEnter(event, element, setDataPointAPI, 'data-input-template');
});
</script>
{% endblock %}