{% extends "baaswebapp/layout.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% include "trialapp/header_page_trial.html" with title=title subheader=fieldTrial.name subtitle='assessment' edit_href="assessment-update" item=assessment delete_url='assessment-delete'%}

{% include "trialapp/trial_assessment_view.html" %}


{% endblock %}

{% block scripts %}
<script src='/static/baaswebapp/scripts/baas.js'></script>
<script>
var setDataPointAPI = '/set_data_point';
$('.data-input-template').on('blur', function(){
    var element=$(this);
    return setDataPoint(element, setDataPointAPI);
});

$('.data-input-template').on('keypress', function(event) {
    var element = $(this);
    return processEnter(event, element, setDataPointAPI, 'data-input-template');
});

$('#trial-data').on('paste', function(event){
  return pasteData(event, setDataPointAPI);
});
</script>
{% endblock %}