{% load crispy_forms_tags %}

{% for dataPointReference in dataPointsForm %}
    {% if dataPointReference.errors %}
    <div class="alert alert-info">{{dataPointReference.errors}}</div>
    {% else %}
    <div class="card card-body-baas">
        <h3>{{dataPointReference.title}}</h3>
        <div class="table-container">
        <table class="data-table">
            <thead><tr><td></td>
            {% for itemHeader in dataPointReference.header %}
                {% if itemHeader.index %}
                <td class="bg-custom-{{itemHeader.color}}" colspan="{{itemHeader.colspan}}">{{itemHeader.index}} </td>
                {% endif %}
            {% endfor %}
            </tr>
            <tr><td><small>{{dataPointReference.subtitle}}</small></td>
            {% for itemHeader in dataPointReference.header %}
                <td class="bg-custom-{{itemHeader.color}} text-right td-control-baas">{{itemHeader.name}}</td>
            {% endfor %}
            </tr></thead>
        <tbody>
        {% for evaluationSet in dataPointReference.rows %}
            <tr><td class="td-control-baas">{{evaluationSet.index}}</td>
            {% for dataPointValue in evaluationSet.dataPoints %}
            <td class="td-control-baas"><form id="form-data-input-template-{{level}}-{{dataPointValue.item_id}}" 
                class='form-data-input-template'  method="POST">
                {% csrf_token %}
                <input type="text" name="data-point"
                    id="{{dataPointValue.item_id}}"
                    class="form-control-baas input data-input-template text-right"
                    placeholder="-"
                    value={{dataPointValue.value}}></input>
            </form></td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody></table></div>
        {{dataPointReference.graph|safe}}
    </div>
    {% endif %}
{% empty %}
    <p>Data avialable yet</p>
{% endfor %}

