{% extends "baaswebapp/layout.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% include "trialapp/header_page_trial.html" with title=title subtitle='assessment, add data per replica' %}

{% include 'trialapp/data_graphs.html' with graphPlots=graphPlots classGraph=classGraph %}

<div class="card card-body-baas mt-3">
    <table class="table">
        <thead><tr>
            <th>Thesis</th>
            <th>Replica</th>
            {% for assessmentType in trialAssessmentSets %}
                <th class="col-md-1">{{assessmentType.type}}<br>({{assessmentType.unit}})</th>
            {% empty %}
                <p>No result types defined. Go <span>
                    <a class="badge btn btn-info fs-5" href="{% url 'trial-assessment-set-list' evaluation.field_trial_id%}">here</a></span></p>
            {% endfor %}
        </tr></thead>
        {% for dataPointReference in dataPoints %}
        <tr>
            <td class="bg-custom-{{dataPointReference.color}}">
                {{dataPointReference.index}}
            </td>
            <td class="bg-custom-{{dataPointReference.color}}">
                {{dataPointReference.name}}
            </td>
            {% for dataPointValue in dataPointReference.dataPoints %}
            <td>
                {% include "trialapp/data_input_template.html" with item_id=dataPointValue.item_id placeholder='-' currentValue=dataPointValue.value%}
            </td>
            {% empty %}
            {% endfor %}
        </tr>
        {% empty %}
            <p>No Replicas yet.</p>
        {% endfor %}
    </table>
</div>

{% endblock %}

{% block scripts %}
<script src='/static/baaswebapp/scripts/baas.js'></script>
<script>

$('.data-input-template').on('blur', function(){
    var element=$(this);
    return setDataPoint(element);
});

$('.data-input-template').on('keypress', function(event) {
    var element = $(this);
    return processEnter(event, element);
});
    
</script>
{% endblock %}

