{% extends "baaswebapp/layout.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1 class="mt-3 mb-6">{{evaluation.name}} {{evaluation.evaluation_date}} <span class="text-muted">evaluation</span>
            <span><a href="{% url 'evaluation-edit' evaluation.field_trial_id evaluation.id %}" class="btn btn-info btn-sm">&#10000;</a></span>
        </h1>
    </div>
    <div class="col-md-4">
        <div class="text-sm-end">
            <a href="{% url 'fieldtrial-list'  %}" class="btn btn-secondary btn-sm">Field Trial list</a>
        </div>
    </div>
</div>

{% if errors %}
<div class="alert alert-primary" role="alert">{{errors}}</div>
{% endif %}
<div class="row">
    <div class="col-md-8">

        <div class="card-body-bass bg-custom-0" >
            <div class="card-header-baas h4">
                Select replica to add data:
            </div>
            <div class="card-body-bass bg-custom-0" >
                {% for row in rowsReplicas %}
                    {% include "trialapp/data_row_replica_template.html" with row=row%}
                {% empty %}
                    <p>No Thesis yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}