{% load crispy_forms_tags %}


{% for dataPointReference in dataPointsForm %}
    {% if dataPointReference.errors %}
    <div class="alert alert-info">{{dataPointReference.errors}}</div>
    {% else %}
    <div class="card card-body-baas mt-3">
        <h3>{{dataPointReference.title}}</h3>
        <table>
            <thead><tr>
            <td><small>{{dataPointReference.subtitle}}</small></td>
            {% for itemHeader in dataPointReference.header %}
            <td class="bg-custom-{{itemHeader.color}}">
                {{itemHeader.index}}<br/>
                {{itemHeader.name}}<br/>
            </td>
            {% endfor %}
            </tr></thead>
        <tbody>
        {% for evaluationSet in dataPointReference.rows %}
            <tr><td>{{evaluationSet.index}}</td>
            {% for dataPointValue in evaluationSet.dataPoints %}
            <td><form id="form-data-input-template-{{level}}-{{dataPointValue.item_id}}" 
                class='form-data-input-template'  method="POST">
                {% csrf_token %}
                <input type="text" name="data-point"
                    id="{{dataPointValue.item_id}}"
                    class="form-control-baas input data-input-template text-right"
                    placeholder="-"
                    value={{dataPointValue.value}}></input>
            </form></td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody></table>
        {{dataPointReference.graph|safe}}
    </div>
    {% endif %}
{% empty %}
    <p>No unit types defined. Go <span>
        <a class="badge btn btn-info fs-5" href="{% url 'trial-assessment-set-list' assessment.field_trial_id%}">here</a></span></p>
{% endfor %}

