{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load i18n %}
{% load custom_filter_templates %}
{% csrf_token %}
<script>
    window.addEventListener('load', (event) => {
        [...document.querySelectorAll(".form-control option:first-child")].forEach(option => {
            option.disabled = true
            //option.hidden = true
        });
    })

    document.addEventListener('DOMContentLoaded', (event) => {
        [...document.querySelectorAll('.page-number-links a')].forEach(link => {
            pageNumber = link.dataset.pageNumber
            currentQueryParams = new URLSearchParams(window.location.search)
            pageNumberRequested = currentQueryParams.get("page") ? currentQueryParams.get("page") : "1"
            currentQueryParams.set('page', pageNumber)
            currentQueryParams.set('activeTab', 2)
            if(pageNumber == pageNumberRequested){
                link.classList.add('current')
            }

            link.href = `?${currentQueryParams}`
        });
    })
</script>
<div class='card-body-baas mt-3 mb-3 bg-custom-transparent'>
    <form method="get" class="">
        <div class="row mb-3" style="display: flex-inline" style="margin-bottom: 0px !important">
            <div class="col-sm-2 col-md-2 flex-inline-form baas-box-shadow">
                <span><i class="bi bi-search"></i> Search</span>
                <div class="form-group">
                    {% render_field filter.form.name class="form-control" placeholder="i.e. product, active substance"%}
                </div>
            </div>
            <div class="form-group col-sm-1 ">
                {% render_field filter.form.crop class="form-control form-select baas-box-shadow" %}
            </div>

            <div class="form-group col-sm-1 ">
                {% render_field filter.form.plague class="form-control form-select baas-box-shadow" %}
            </div>

            <div class="form-group col-sm-1 col-md-1">
                {% render_field filter.form.trial_status class="form-control form-select baas-box-shadow" %}
            </div>

            {% if filter.form.product %}
                <div class="form-group col-sm-1 ">
                    {% render_field filter.form.product class="form-control form-select baas-box-shadow" %}
                </div>
            {% endif %}

            <div class="form-group col-sm-1 col-md-1">
                {% render_field filter.form.trial_type class="form-control form-select baas-box-shadow" %}
            </div>

            <div class="form-group col-sm-1 col-md-1">
                {% render_field filter.form.objective class="form-control form-select baas-box-shadow" %}
            </div>

            <div class="form-group col-sm-1 col-md-3">
                <button type="submit" class="btn btn-info mt-4" style="margin-top:0px !important">Search</button>
            </div>
        </div>
        <input type="hidden" id="activeTab" name="activeTab" value="2"/>
    </form>
</div>
<div class="row mt-4" style="margin-top: 0px !important">
    <div class="col-md-8">
        <div class="card card-body-baas " style="padding:0px">
            <table class="baas-data-table">
                <thead>
                    <tr>
                        <th>Trial <i class="bi bi-funnel"></i></th>
                        <th>Efficacy</th>
                        <th>Climatology</th>
                        <th>Cultivation</th>
                        <th>Trials Date</th>
                        <th>Trials Goals</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for item in object_list %}
                <tr class="trial-tab-lines" id="item-{{item.id}}" key="{{ item.id }}">
                    <!--NAME-->
                    <td><p class="txt-open-semibold-14">{{item.description}}</p>
                        <p class="txt-regular-13">{{item.location}}</p></td>
                    <!--EFFICACY-->
                    <td>
                        <span>{{item.best_efficacy}}</span>
                    </td>
                    <!--CLIMATOLOGY-->
                    <td>
                        <span>Climatology</span>
                    </td>
                    <!-- CULTIVATION -->
                    <td>
                        <p class="txt-open-bold-15">{{item.cultivation|safe}}</p>
                    </td>
                    <!--TRIALS DATE-->
                    <td>
                        <p class="txt-regular-13">{{ item.period }}</p>
                    </td>
                    <!-- TRIALS GOALS-->
                    <td>
                        <span class="badge badge-pill custom-badge-type custom-badge-light-violet fs-6 me-3">{{item.goal}}</span>
                    </td>
                    <!-- VIEW LINK-->
                    <td>
                        <a class="txt-custom-main txt-regular-13 table-link fs-6 me-3" href="{% url 'trial_api' item.id%}">View</a>
                    </td>
                </tr>

                {% empty %}
                    <p>No Trials yet.</p>
                {% endfor %}
            </tbody>
            {% if object_list %}
            <tfoot colspan='100%'>
                <tr>
                    <td colspan='1'><span style="color:#666"><b>{{ paginator.count }}</b> {% trans 'results' %}</span></td>
                    <td class="page-number-links" colspan="6">
                        {% if page.has_previous %}
                            <a class="pagination-number chevron" href="#" data-page-number="{{ page.previous_page_number }}">&#xF284;</a>
                        {% endif %}
                        {% for i in 1|range_to:paginator.num_pages %}
                            <a class="pagination-number" href="#" data-page-number = "{{ i }}">{{ i }}</a>
                        {% endfor %}
                        {% if page.has_next %}
                            <a class="pagination-number chevron" href="#" data-page-number="{{ page.next_page_number }}">&#xF285;</a>
                        {% endif %}
                    </td>
                </tr>
            </tfoot>
            {% endif %}
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <!-- <div class="card card-body-baas">
            {% include "baaswebapp/header_page.html" with title=titleList new_href=add_url %}
        </div> -->

        <div id="map" class='mt-3 mb-3 card card-body-baas' width="100%" style='height:650px; margin-top: 0px !important'></div>
    </div>
</div>