{% extends "baaswebapp/layout.html" %}

{% load crispy_forms_tags %}

{% block content %}
<h1 class="fw-bold mt-5 mb-3">Field Trials <a href="{% url 'fieldtrial-edit' %}" class="btn btn-primary fs-4">&#43;</a></h1>

<div class="card card-body-baas">
<table class="table">
    <thead>
        <tr>
            <th>status</th>
            <th>Name</th>
            <th>Assessment Types</th>
            <th>Thesis</th>
            <th>Evaluations</th>
            <th>Keywords</th>
        </tr>
    </thead>
    <tbody>
{% for item in object_list %}
    <tr>
        <td>-</td>
        <td><a class="btn btn-info" href="{% url 'fieldtrial-show' item.id%}">{{ item.name }}</a></td>
        <td>
            <a class="badge btn btn-info fs-5" href="{% url 'trial-assessment-set-list' item.id%}">{{item.results}} &#10000;</a>
        </td>
        <td>
            {% if item.results > 0 %}
                <a class="badge btn btn-info fs-5" href="{% url 'thesis-list' item.id%}">{{item.thesis}} &#10000;</a>
            {% else %}
                <small>Please define assessment types and units</small>
            {% endif %}
        </td>
        <td>
            {% if item.thesis > 0 %}
                <a class="badge btn btn-info fs-5" href="{% url 'evaluation-list' item.id%}">{{item.evaluations}} &#43;</a>
            {% else %}
                <small>Please define thesis first</small>
            {% endif %}
        </td>
        <td><span class="badge bg-project">{{ item.project }}</span>
            <span class="badge bg-objective">{{ item.objective }}</span>
            <span class="badge bg-plague">{{ item.plague }}</span>
            <span class="badge bg-crop">{{ item.crop }}</span>
            <span class="badge bg-product">{{ item.product }}</span>
        </td>
    </tr>
    </tbody>    
{% empty %}
    <p>No Field Trial yet.</p>
{% endfor %}
</table>
</div>
{% endblock %}