{% load i18n %}
<div class="row mr-4">
    <div class="card card-body-baas col-md-8 mt-4">
        <p class="title">{% trans 'Compared Treatments' %}</p>
        <table class="baas-data-table">
            <thead>
                <tr>
                    <th>{% trans 'Thesis Name' %}</th>
                    <th>{% trans 'Product' %}</th>
                    <th class="capitalize-first">{% trans 'active substance' %}</th>
                    <th>{% trans 'Doses' %}</th>
                    <th>{% trans 'Manufacturer' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for thesisData in thesis_list %}
                <tr>
                    <td><div class="color-icon {{ thesisData.idColor }} "></div> {{thesisData.thesis.name}}</td>
                    <td><b>{{ thesisData.thesis.product_name }}</b></td>
                    <td>{{ thesisData.thesis.active_substance }}</td>
                    <td>Lorem Ipsum</td>
                    <td>{{ thesisData.thesis.vendor_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-body-baas mt-4">
        <p class="title">{% trans 'Terrain' %}</p>
        <div class="terrain-grid card-baas-alt row">
            <div class="terrain col-md-9">
                {% for row in rowsReplicas %}
                    {% include "trialapp/data_row_replica_template.html" with row=row %}
                {% empty %}
                    <p>No Thesis yet.</p>
                {% endfor %}
            </div>
            <div class="graphic-legend col-md-3">
                {% for thesisData in thesis_list %}
                <div class="legend-line">
                    <div class="color-icon {{ thesisData.idColor }}"></div>
                    <p>{{thesisData.thesis.product_name}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <p class="aux-title">{% trans 'One Plot' %}</p>
                <p><small>{% trans 'Dimensions' %}</small> <b>Lorem Ipsum</b></p>
                <p><small>{% trans 'Net Area Plot (m2) ZZGRoss' %}</small> <b>Lorem Ipsum</b></p>
                <p><small>{% trans 'Area Plot (m2)' %}</small> <b>Lorem Ipsum</b></p>
                <p><small>{% trans 'Nº of plants' %}</small> <b>Lorem Ipsum</b></p>
            </div>
            <div class="col-md-6">
                <p class="aux-title">{% trans 'Total Area Per Treatment (All Plots)' %}</p>
                <p><small>{% trans 'Treatment Area' %}</small> <b>Lorem Ipsum</b></p>
            </div>
        </div>
    </div>
</div>
