{% extends "baaswebapp/layout.html" %}

{% load crispy_forms_tags %}

{% block content %}


{% include "trialapp/header.html" with title=titleView subtitle='field trial' edit_href="fieldtrial-edit" item=fieldTrial  %}
{{fieldTrial.filename}}

<div class="row">
    <div class="col-md-4">
      <div class="card no-border mb-3" >
        <div class="card-header-baas h4">
          Goal
        </div>
        <ul class="list-group list-group-flush">
          {% include "trialapp/item_list_template.html" with field='project' value=fieldTrial.project%}
          {% include "trialapp/item_list_template.html" with field='objective' value=fieldTrial.objective%}
          {% include "trialapp/item_list_template.html" with field='main product' value=fieldTrial.product%}
          {% include "trialapp/item_list_template.html" with field='crop' value=fieldTrial.crop%}
          {% include "trialapp/item_list_template.html" with field='plague' value=fieldTrial.plague%}
        </ul>
      </div>
      <div class="card no-border mb-3" >
        <div class="card-header-baas h4">
          Status
        </div>
        <ul class="list-group list-group-flush">
          {% include "trialapp/item_list_template.html" with field='type' value=fieldTrial.trial_type%}
          {% include "trialapp/item_list_template.html" with field='status' value=fieldTrial.trial_status %}
          {% include "trialapp/item_list_template.html" with field='responsible' value=fieldTrial.responsible%}
          {% include "trialapp/item_list_template.html" with field='started' value=fieldTrial.initiation_date%}
          {% include "trialapp/item_list_template.html" with field='completed' value=fieldTrial.completion_date%}
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card no-border mb-3" >
        <div class="card-header-baas h5">
            Units
            <a class="btn btn-info btn-sm float-end" href="{% url 'trial-assessment-set-list' fieldTrial.id%}">&#10000;</a>
        </div>
        <ul class="list-group list-group-flush"></ul>
          {% for item in units %}
            {% include "trialapp/item_list_template.html" with field=item.unit.name value=item.type.name%}
          {% empty %}
            <p>No units yet.</p>
          {% endfor %}
        </ul>
      </div>
      <div class="card no-border mb-3" >
        <div class="card-header-baas h4">
            Assessments
            <a class="btn btn-info btn-sm float-end" href="{% url 'evaluation-list' fieldTrial.id%}">&#10000;</a>
        </div>
        <ul class="list-group list-group-flush"></ul>
          {% for item in assessments %}
            {% include "trialapp/item_list_template.html" with field=item.name value=item.date%}
          {% empty %}
            <p>No Assessments yet.</p>
          {% endfor %}
        </ul>
      </div>
      <div class="card no-border mb-3" >
        <div class="card-header-baas h4">
          Layout
        </div>
        <table class="table">
          <thead><tr><td># replicas</td><td># blocks</td><td># samples</td></tr></thead>
          <tbody><tr><td>{{fieldTrial.replicas_per_thesis}}</td><td>{{fieldTrial.blocks}}</td><td>{{fieldTrial.samples_per_replica}}</td></tr></tbody>
          <thead><tr><td># rows</td><td>Distance between rows</td><td>Distance between plants</td></tr></thead>
          <tbody><tr><td>{{fieldTrial.number_rows}}</td><td>{{ieldTrial.distance_between_rows}}</td><td>{{fieldTrial.distance_between_plants}}</td></tr></tbody>
          <thead><tr><td>Row length(m)</td><td>Gross surface (m2)</td><td>Net surface (m2)</td></tr></thead>
          <tbody><tr><td>{{fieldTrial.lenght_row}}</td><td></td>{{fieldTrial.gross_surface}}<td>{{fieldTrial.net_surface}}</td></tr></tbody>
        </table>
        <ul class="list-group list-group-flush">
          {% include "trialapp/item_list_template.html" with field='location' value=fieldTrial.location%}
          {% include "trialapp/item_list_template.html" with field='contact' value=fieldTrial.contact%}
        </ul>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card no-border" >
        <div class="card-header-baas h4">
            Thesis
            <a class="btn btn-info btn-sm float-end" href="{% url 'thesis-list' fieldTrial.id%}">&#10000;</a>
        </div>
        <div class="card-body-baas">
          <ul class="list-group list-group-flush">
            {% for thesisTrial in thesisTrialRows %}
              {% include "trialapp/data_row_replica_template.html" with row=thesisTrial%}
            {% empty %}
              <p>No Thesis yet.</p>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="card no-border mt-3" >
        <div class="card-header-baas h4">
          Replica Distribution
        </div>
        <div class="card-body-baas">
          {% for row in rowsReplicas %}
              {% include "trialapp/data_row_replica_template.html" with row=row%}
          {% empty %}
              <p>No Thesis yet.</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}