{% load crispy_forms_tags %}

<form id="form-select-{{tag}}-form-{{item_id}}" class='form-select-{{tag}}-form mb-3 mt-1' method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <select id="form-select-{{tag}}-form-select-{{item_id}}" name='{{tag}}' class="form-control">
        
        {% if currentValue == "" %}
            <option value selected>------</option>
        {% else %}
            {% if addNull %}
                <option value>------</option>
            {% endif %}
        {% endif %}
        {% for selectOption in selectOptions%}
            {% if selectOption.value == currentValue %}
                <option value="{{selectOption.value}}" selected>{{selectOption.name}}</option>
            {% else %}
                <option value="{{selectOption.value}}">{{selectOption.name}}</option>
            {% endif %}
        {% endfor %}
    </select>
</form>