{% if subheader %}
<h5 class="mt-4 ms-4 text-muted">{{subheader}}
    <span> <div class="btn-group float-end" role="group">
        <a href="{% url 'fieldtrial-list' %}" class="btn btn-secondary btn-sm fs-3"
            data-toggle="tooltip" data-placement="top" title='Go to field trial list'>&#8679;</a>
        <a href="{% url 'trial_api' fieldTrial.id%}" class="btn btn-light"
            data-toggle="tooltip" data-placement="top" title='Go to field trial'>{{fieldTrial.code}}</a>
        <a href="{% url 'thesis-list' fieldTrial.id%}" class="btn btn-dark "
            data-toggle="tooltip" data-placement="top" title='Thesis list'>Thesis</a>
        <a href="{% url 'assessment-list' fieldTrial.id%}" class="btn btn-dark"
            data-toggle="tooltip" data-placement="top" title='View assessments '>ASSMTS</a>
        <a href="{% url 'trial_data' fieldTrial.id%}" class="btn btn-dark"
            data-toggle="tooltip" data-placement="top" title='View All data'>data</a>
        <a href="{% url 'application-list' fieldTrial.id%}" class="btn btn-dark "
            data-toggle="tooltip" data-placement="top" title='Applications list'>Applications</a>
        <a href="https://probelte.sharepoint.com/sites/BaaSArchive/Documentos%20compartidos/trials/{{fieldTrial.code}}" class="btn btn-dark " target="_blank"
            data-toggle="tooltip" data-placement="top" title='Trial documents'>Files</a>
    </div></span>
</h5>
{% endif %}
<h2 class="fw-bold mt-4 ms-4 mb-3">
    {{title}}
    <span class="text-muted ml-2">{{subtitle}}</span>
    <span><div class="btn-group ms-2" role="group">
        {% if edit_href and edit_data%}
        <a href="{% url edit_href item.id %}" class="btn btn-secondary btn-sm fs-3 "
                data-toggle="tooltip" data-placement="top" title='Edit item'>&#10000;</a>
        {% endif %}
        {% if new_href and add_data%}
        <a href="{% url new_href %}" class="btn btn-info btn-sm fs-1"
                data-toggle="tooltip" data-placement="top" title='Create new item'>&#43;</a>
        {% endif %}
        
        {% if new_href_id and add_data%}
        <a href="{% url new_href_id refId %}" class="btn btn-secondary btn-sm fs-1"
            data-toggle="tooltip" data-placement="top" title='Create new item'>&#43;</a>
        {% endif %}
        {% if download_url %}
        <a href="{% url download_url item.id %}" class="btn btn-secondary btn-sm fs-4"
            data-toggle="tooltip" data-placement="top" title='Download new item'>&dHar;</a>
        {% endif %}
        {% if delete_url and add_data%}
        <a href="{% url delete_url item.id %}" class="btn btn-warning btn-sm fs-3"
            data-toggle="tooltip" data-placement="top" title='Delete new item'>
            <span class="material-symbols-outlined" >delete</span></a>
        {% endif %}
    </div></span>
</h2>


{% if errors %}
<div class="alert alert-primary" role="alert">{{errors}}</div>
{% endif %}