{% if subheader %}
<h5 class="mt-4 ms-4 text-muted">{{subheader}}</h5>
{% endif %}
<h2 class="fw-bold mt-4 ms-4 mb-3">
    {{title}}
    <span class="text-muted ml-2">{{subtitle}}</span>
    {% if edit_href %}
    <span><a href="{% url edit_href item.id %}" class="btn btn-secondary btn-sm fs-3 ms-2"
             data-toggle="tooltip" data-placement="top" title='Edit item'>&#10000;</a></span>
    {% endif %}
    {% if new_href %}
    <span><a href="{% url new_href %}" class="btn btn-info btn-sm fs-1 ms-2"
             data-toggle="tooltip" data-placement="top" title='Create new item'>&#43;</a></span>
    {% endif %}
    {% if new_href_id %}
    <a href="{% url new_href_id refId %}" class="btn btn-secondary btn-sm fs-1 ms-2"
        data-toggle="tooltip" data-placement="top" title='Create new item'>&#43;</a>
    {% endif %}
    <span> <div class="btn-group float-end " role="group">
        <a href="{% url 'fieldtrial-list' %}" class="btn btn-secondary btn-sm fs-3"
            data-toggle="tooltip" data-placement="top" title='Go to field trial list'>&#8679;</a>
        <a href="{% url 'field_trial_api' fieldTrial.id%}" class="btn btn-light fs-4"
            data-toggle="tooltip" data-placement="top" title='Go to field trial'>{{fieldTrial.code}}</a>
        <a href="{% url 'thesis-list' fieldTrial.id%}" class="btn btn-dark "
            data-toggle="tooltip" data-placement="top" title='Thesis list'>Thesis</a>
        <a href="{% url 'trial-assessment-set-list' fieldTrial.id%}" class="btn btn-dark "
            data-toggle="tooltip" data-placement="top" title='Units list'>Units</a>
        <a href="{% url 'evaluation-list' fieldTrial.id%}" class="btn btn-dark"
            data-toggle="tooltip" data-placement="top" title='View assessments data'>data</a>

    </div></span>
</h2>


{% if errors %}
<div class="alert alert-primary" role="alert">{{errors}}</div>
{% endif %}