{% extends "baaswebapp/layout.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% include "trialapp/header_page_trial.html" with title=titleView subtitle='lab trial' edit_href="fieldtrial-update" item=fieldTrial delete_url='fieldtrial-delete'%}

<div class="row">
  <div class="col-md-2">
    {% include "trialapp/card_values.html" with title='Goal' dataItems=dataTrial.Goal classColumn='classColumn1'%}
  </div>
  <div class="col-md-2">
    {% include "trialapp/card_values.html" with title='Status' dataItems=dataTrial.Status classColumn='classColumn1'%}
    {% include "trialapp/card_values.html" with title='Layout' dataItems=dataTrial.Layout classColumn='classColumn1'%}
  </div>
  <div class="col-md-4">
    <div class="card no-border mb-3" >
      <div class="card-header-baas h4">
        <a class="btn btn-secondary btn-sm fs-5" href="{% url 'thesis-list' fieldTrial.id%}">
          Thesis<span class='badge bg-light ms-2'>{{numberThesis}}</span></a>
      </div>
      
      <div class="card-body-baas">
          <table >
            {% for thesis in thesisTrial %}
              <tr><td>
                <a href="{% url 'thesis_api' thesis.id %}" class="btn btn-sm bg-custom-{{thesis.number}}">T{{thesis.number}}</a>
                <span class="ml-4">{{thesis.name}}</span>
              </td></tr>
            {% empty %}
              <p>No Thesis yet.</p>
            {% endfor %}
          </table>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    {% include "trialapp/card_values.html" with title='Assessments' dataItems=dataTrial.Assessments link='assessment-list' classColumn='classColumn2'%}
  </div>
</div>
{% endblock %}
