<div class="row">
    <div class='col-md-3'>
        <strong >{{total}}</strong>
    </div>
    <div class='col-md-8'>
        <div class="progress">
            <div class="progress-bar bg-control" role="progressbar" style="width: {{values.control}}%" aria-valuenow="{{values.control}}" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-nutritional" role="progressbar" style="width: {{values.nutritional}}%" aria-valuenow="{{values.nutritional}}" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-estimulant" role="progressbar" style="width: {{values.estimulant}}%" aria-valuenow="{{values.estimulant}}" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-unknown" role="progressbar" style="width: {{values.unknown}}%" aria-valuenow="{{values.unknown}}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
    </div>
</div>
