{% load crispy_forms_tags %}

<form id="thesis-add-product-form-{{thesis_id}}" class='thesis-add-product-form mb-3 mt-1' method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <td>
        {% include "trialapp/input_select_template.html" with tag="product" item_id='new'  currentValue='' selectOptions=products addNull=True%}
    </td>
    <td>
    {% include "trialapp/input_text_template.html" with tag="rate" item_id='new'  placeholder='0.0' currentValue='' type_input="number"%}
    </td>
    <td>
    {% include "trialapp/input_select_template.html" with tag="rate_unit" item_id='new'  currentValue='' selectOptions=rate_units addNull=True%}
    </td>
    <td>
    <input type="submit" name="submit" value="&#43;" class="btn btn-info btn-sm"/></td>
</form>