{% extends "baaswebapp/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include "trialapp/header_page_trial.html" with title=title subheader=fieldTrial.name subtitle='thesis' edit_href="thesis-update" item=thesis delete_url='thesis-delete'%}

<div class="row">
  <div class="col-md-3">
    <div class="card no-border" >
      <div class="card-body-baas"> 
        <div class="row">
            <div class="col-md-6">
                {% include "baaswebapp/item_list_template.html" with field='number' value=thesis.number%}
                {% include "baaswebapp/item_list_template.html" with field='Mode' value=thesis.mode%}
                {% include "baaswebapp/item_list_template.html" with field='Days between applications' value=thesis.interval%}
            </div>
            <div class="col-md-6">
                {% include "baaswebapp/item_list_template.html" with field='Name' value=thesis.name%}
                {% include "baaswebapp/item_list_template.html" with field='Applications' value=thesis.number_applications%}
                {% include "baaswebapp/item_list_template.html" with field='First application' value=thesis.first_application%}
            </div>
        </div>
        {% include "baaswebapp/item_list_template.html" with field='Description' value=thesis.description%}
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="card no-border" >
      <div class="card-body-baas">
            <h4>Treatment</h4>
            <table class="table"><tbody id="table-items">
            <tr id="product_thesis">
                {% include "trialapp/thesis_add_product.html" with thesis_id=thesis_id products=products rate_units=rate_units%}
            </tr>
            {% for item in product_list %}
                <tr id="item-{{item.id}}">
                    <td>{{item.product}}</td>
                    <td>{{item.rate}}</td>
                    <td>{{item.rate_unit}}</td>
                    <td><a id='delete-item-{{item.id}}' class="btn btn-warning btn-sm btn-sm fs-1">-</a></td>
                </tr>
            {% empty %}
                <p>No products yet.</p>
            {% endfor %}
            
            </tbody></table>
      </div>
    </div>
    <div class="card card-body-baas mt-3">
        <h4>Thesis Volumen</h4>
        <p>{{thesisVolume.value}} <span class="text-muted">{{thesisVolume.detail}} </span></p>
    </div>
  </div>
  <div class="col-md-4">
    {% include 'trialapp/thesis_map.html' %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src='/static/baaswebapp/scripts/baas.js'></script>
<script>
$('.thesis-add-product-form').submit( function(){
    var element=$(this)
    var appendTable=$('#table-items')
    return addProductToThesisCall(element,appendTable)
});

var manageItemEndPoint = '/manage_product_to_thesis_api';

function addProductToThesisCall(element,appendTable) {
    var dataJson={}
    $(element.serializeArray()).each(function(index,obj){
        dataJson[obj.name]=obj.value;
    });
    dataJson['thesis_id']=element.attr('id');
    $.ajax({
        type : element.attr('method'), 
        url: manageItemEndPoint,
        data: dataJson,
        
        success: function(data){
            console.log("data");
            appendTable.append(
                '<tr id="item-'+data.id+'"><td>'+data.product+'</td>\
                    <td>'+data.rate+'</td>\
                    <td>'+data.rate_unit+'</td>\
                    <td><a id="delete-item-'+data.id+'" class="btn btn-warning btn-sm btn-sm fs-1">-</a></td>\
                </tr>'); /* response message */
        },
    
        failure: function() {
            alert('Error. Please reload');
        }
    });
    return false;
};



</script>
{% endblock %}