{% extends "baaswebapp/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include "trialapp/header_page_trial.html" with title=title subheader=fieldTrial.name subtitle='thesis' edit_href="thesis-update" item=thesis delete_url='thesis-delete'%}

<div class="row">
  <div class="col-md-4">
    <div class="card no-border" >
      <div class="card-body-baas"> 
        <div class="row">
            <div class="col-md-6">
                {% include "baaswebapp/item_list_template.html" with field='number' value=thesis.number%}
                {% include "baaswebapp/item_list_template.html" with field='Mode' value=thesis.mode%}
                {% include "baaswebapp/item_list_template.html" with field='Days between applications' value=thesis.interval%}
            </div>
            <div class="col-md-6">
                {% include "baaswebapp/item_list_template.html" with field='Name' value=thesis.name%}
                {% include "baaswebapp/item_list_template.html" with field='Applications' value=thesis.number_applications%}
                {% include "baaswebapp/item_list_template.html" with field='First application' value=thesis.first_application%}
            </div>
        </div>
        {% include "baaswebapp/item_list_template.html" with field='Description' value=''%}
        <p class="ms-3">{{thesis.description}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card no-border" >
        <div class="card-body-baas">
              <h4>Treatments 
                <span><a href="{% url 'treatment_thesis-add' thesis.id %}" class="btn btn-info btn-sm fs-4"
                data-toggle="tooltip" data-placement="top" title='Add treatment'>&#43;</a></span>
              </h4>
              <ul class="list-group list-group-flush">
                {% for treatment in treatments %}
                <li class="list-group-item list-group-item-baas">
                    {{treatment.name}}
                    <span class=""><a href="{% url 'treatment_thesis-delete' treatment.id %}" class="btn btn-warning float-end btn-sm fs-4"
                        data-toggle="tooltip" data-placement="top" title='Delete new item'> - </a></span>
                </li>
              
                {% empty %}
                  <p>No treatments defined.</p>
                {% endfor %}
                {{treatment}}
            </li>
          </ul>
        </div>
    </div>
    
    <div class="card card-body-baas mt-3">
        <h4>Thesis Volumen</h4>
        <p>{{thesisVolume.value}} <span class="text-muted">{{thesisVolume.detail}} </span></p>
    </div>
  </div>
  <div class="col-md-4">
    {% include 'trialapp/thesis_map.html' %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src='/static/baaswebapp/scripts/baas.js'></script>

{% endblock %}