{% extends "baaswebapp/layout.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row mt-5 mb-2">
    <div class="col-md-6">
        <h1 class="">
            <span class="mr-4"><a href="{% url 'fieldtrial-show' field_trial_id %}" >{{field_trial_name}}</a></span>
            thesis
            <a href="{% url 'thesis-edit' field_trial_id %}" class="btn btn-primary fs-4">&#43;</a></h1>
    </div>
    <div class="col-md-6">
        <div class="text-sm-end">
            <a href="{% url 'fieldtrial-list'  %}" class="btn btn-secondary btn-sm">Field Trial list</a>
        </div>
    </div>
</div>

<div class="card card-body-baas">
<table class="table">
    <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>description</th>
        </tr>
    </thead>
    <tbody>
{% for item in object_list %}
    <tr>
        <td>{{item.number}}</td>
        <td><a href="{% url 'thesis-edit' field_trial_id item.id %}" class="btn btn-primary">{{item.name}}</a></td>
        <td>{{item.description}}</td>
    </tr>
    </tbody>    
{% empty %}
    <p>No Thesis yet.</p>
{% endfor %}
</table>
</div>
{% endblock %}