
<div class="card no-border" >
    <div class="card-header-baas h5">
        <span class='badge bg-light ms-2'>{{fieldTrial.blocks}}</span> Blocks  
        <span class='badge bg-light ms-2'>{{fieldTrial.replicas_per_thesis}}</span> Replicas distribution
    </div>
    <div class="card-body-baas bg-custom-cards" >
        <div class="card-group  mt-2">
            {% for item in rowsReplicaHeader %}
            <div class="card no-border bg-custom-cards me-2" >
                <div class="card-header-baas h4">{{item.name}} block</div></div>
            {% endfor %}
        </div>
        {% for row in rowsReplicas %}
            {% include "trialapp/data_row_replica_template.html" with row=row%}
        {% empty %}
            <p>No Thesis yet.</p>
        {% endfor %}
    </div>
</div>

