{% extends "baaswebapp/layout.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% include "trialapp/header_page_trial.html" with title="Thesis list" subheader=fieldTrial.name  new_href_id='thesis-edit' refId=fieldTrial.id%}

<div class="row">
    <div class="col-md-6">
        <div class="card card-body-baas">
        <table class="table" id="table-items">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        {% for item in object_list %}
            <tr id="item-{{item.id}}">
                <td><a href="{% url 'thesis-edit' fieldTrial.id item.id %}" class="btn bg-custom-{{item.number}}">T{{item.number}}</a></td>
                <td><strong>{{item.name}}</strong></td>
                <td>{{item.description}}</td>
                <td><a id='delete-item-{{item.id}}' class="btn btn-warning btn-sm btn-sm fs-1">-</a></td>
            </tr>
        {% empty %}
            <p>No Thesis yet.</p>
        {% endfor %}
            </tbody> 
        </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card no-border" >
            <div class="card-header-baas h5">
                [{{fieldTrial.blocks}}] Blocks & [{{fieldTrial.replicas_per_thesis}}] Replicas distribution
                <a class="btn btn-info btn-sm float-end" href="{% url 'reshuffle-blocks' fieldTrial.id%}">&#10000;</a>
            </div>
            <div class="card-body-baas bg-custom-0" >
                {% include "trialapp/data_row_replica_template.html" with row=rowsReplicaHeader appendix='block '%}
                {% for row in rowsReplicas %}
                    {% include "trialapp/data_row_replica_template.html" with row=row appendix='R'%}
                {% empty %}
                    <p>No Thesis yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src='/static/baaswebapp/scripts/baas.js'></script>
<script>
    var manageItemEndPoint='/thesis_api';
</script>
{% endblock %}