<div class="row">
    <div class="col-md-2">
        <ul class="nav flex-column" >
            {% for assessment in dataTrial.Assessments %}
                <li class="nav-item">
                    <button id="load-assessment-{{trial.id}}-{{ assessment.id }}" 
                            class="btn-assessment-trial nav-link product-variant-link">{{assessment.name}}</button>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-10">
        <!-- This will create an div with id -->
        <div class="trial-dynamic-content mt-3" id="trial-{{trial.id}}-assessment_view">
            <div class="loading-spinner"></div>
        </div>
    </div>
</div>
