{% load i18n %}
{% if dataContent.error %}
  <p class='txt-regular-12 txt-warning'>{{dataContent.error|safe}}</p>
{% else %}
<div class="card-body-baas mt-2">
    <table>
      <tr>
        <td>
        {% include "baaswebapp/item_list_template.html" with field='Name' value=dataContent.assessment.name%}
        </td>
        <td>
        {% include "baaswebapp/item_list_template.html" with field='Rate Date' value=dataContent.assessment.assessment_date%}
        </td>
        <td>
        {% include "baaswebapp/item_list_template.html" with field='Crop Stage Majority' value=dataContent.assessment.crop_stage_majority%}
        </td>
        <td>
          {% include "baaswebapp/item_list_template.html" with field='Part Rated' value=dataContent.assessment.part_rated%}
        </td>
      </tr>
    </table>
</div>
<div class="row mt-3">
  <div class="col-md-6">
   <div class="card-body-baas">
    <p class="card-title txt-encode-20 capitalize-first">{% trans "efficacy" %}</p>
    {{dataContent.efficacy|safe}}
  </div>
  </div>
  <div class="col-md-6">
    <div class="card-body-baas">
      <p class="card-title txt-encode-20 capitalize-first">{{dataContent.rateunitpart}}</p>
      {{dataContent.graphData|safe}}
    </div>
  </div>
  
</div>
<div class="row mt-3">
  <div class="col-md-8">
    <div class="card-body-baas">
    <div class="table-container-long">
    <table class="baas-data-table">
      <thead>
        <tr><th class="col-md-2">Thesis</th>
            {% if dataContent.level != 'thesis' %}
              <th class="col-md-1">avg</th>
              {% if dataContent.level == 'sample' %}
                <th></th>
              {% endif %}
              <th class="col-md-1">{% trans 'plots' %}</th>
            {% endif %}
            <th class="text-right col-md-1">value</th>
            {% if dataContent.sampleNums %}
              <th></th>
              {% for num in dataContent.sampleNums %}
                <th class="text-right col-md-1">{{num}}</th>
              {% endfor %}
            {% endif %}
        </tr></thead>
      <tbody>
      {% for dataRow in dataContent.dataRows %}
      <tr class="border-custom-{{dataRow.color}}">
          {% if dataRow.rowspan > 0 %}
            <td rowspan="{{dataRow.rowspan}}"><div class="color-icon bg-custom-{{dataRow.color}}"></div>{{dataRow.thesis}}</td>
            {% if level != 'thesis' %}
              <td rowspan="{{dataRow.rowspan}}"> {{dataRow.tvalue}}</td>
            {% endif %}
          {% endif %}
          {% if level == 'sample' %}
            <td>&ThickSpace;</td>
          {% endif %}
          {% if level != 'thesis' %}
            <td>{{dataRow.replica}}</td>
          {% endif %}
          <td class="text-right">
            {% if dataRow.item_id %}
              <form id="form-data-input-template-{{dataRow.item_id}}" 
                class='form-data-input-template' disabled method="POST">
                {% csrf_token %}
                <input type="text" disabled name="data-point"
                    id="{{dataRow.item_id}}"
                    class="form-control-baas input data-input-template text-right"
                    placeholder="-"
                    value={{dataRow.value}}></input>
              </form>
            {% else %}
              {{dataRow.value}}
            {% endif %}
          </td>
          {% if dataRow.sampleCols %}
            <td>&ThickSpace;</td>
            {% for col in dataRow.sampleCols %}
              <td class="text-right">
                {% if col.item_id %}
                  <form id="form-data-input-template-{{col.item_id}}" class='form-data-input-template'  method="POST">
                    {% csrf_token %}
                    <input type="text" disabled name="data-point"
                        id="{{col.item_id}}"
                        class="form-control-baas input data-input-template text-right"
                        placeholder="-"
                        value={{col.value}}></input>
                  </form>
                {% else %}
                  {{col.value}}
                {% endif %}
              </td>
            {% endfor %}
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
    </div>
  </div>
  <div class="col-md-4">
  <div class="card card-baas-alt">
    <p class="card-title txt-encode-20 capitalize-first">{% trans "statistics" %}</p>
    {{dataContent.stats|safe}}
  </div>
</div>
{% endif %}