{% extends "baaswebapp/layout.html" %}
{% load widget_tweaks %}

{% block topbaastitle %}
<div class="nav-item vertical-line-right vertical-line-left">
    <a class="nav-link txt-brand txt-presicav-22 ms-3" href="{% url 'product_api' trial.product.id %}">{{trial.product}}</a>
</div>
{% endblock %}
{% load i18n %}
{% block topbaasheader %}
{% if edit_trial_perm %}
    {% url 'fieldtrial_api' trial.id as show_fieldtrial %}
{% else %}
    {% url 'trial_api' as show_fieldtrial %}
{% endif %}
    <li class="nav-item">
        <a class="nav-link txt-brand txt-presicav-18" href="{% url 'trial_api' trial.id %}">
            <span class="material-symbols-outlined small-icon">assessment</span>
            {{description}}</a>
    </li>
    <li class="nav-item">
        <p class="navbar-text txt-baas txt-encode-18" >{{location}}, {{period}}</p>
    </li>

        <li class="nav-item">
            {% if editable %}
                {% url_edit as }
            {% else %}
                <a class="btn btn-outline-baas-alt ms-3" href="{{show_fieldtrial}}">{{trial.code}}</a>
            {% endif %}
        </li>
        <li class="nav-item">
            <div class="btn btn-baas-alt ms-2 capitalize-first">{% trans "efficacy"%}<span class='strong ms-2'>{{efficacy}}%</span></div>
        </li>

{% endblock %}

{% block content %}
{% if read_trial %}
<div class="row ">
    <div class="col-md-11 offset-md-1">
    <ul class="nav nav-tabs-baas" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active txt-open-semibold-15 capitalize-first" id="conclusions-tab" data-bs-toggle="tab" data-bs-target="#nav-conclusions" type="button" role="tab" aria-controls="nav-conclusions" aria-selected="true">{% trans "conclusions" %}</button>
        </li>
        <li class="nav-item">
            <button class="nav-link txt-open-semibold-15 capitalize-first" id="design-trial-tab" data-bs-toggle="tab" data-bs-target="#nav-design-trial" type="button" role="tab" aria-controls="nav-design-trial" aria-selected="true">{% trans "trial Design" %}</button>
        </li>
        <li class="nav-item">
        <button class="nav-link txt-open-semibold-15 capitalize-first" id="result-summary-tab" data-bs-toggle="tab" data-bs-target="#nav-result-summary" type="button" role="tab" aria-controls="nav-result-summary" aria-selected="true">{% trans "result summary" %}</button>
        </li>
        <li class="nav-item">
            <button class="nav-link txt-open-semibold-15 capitalize-first" id="trends-tab" data-bs-toggle="tab" data-bs-target="#nav-trends" type="button" role="tab" aria-controls="nav-trends" aria-selected="true">{% trans "trends" %}</button>
        </li>

        <li class="nav-item">
        <button class="nav-link txt-open-semibold-15 capitalize-first" id="assessment-tab" data-bs-toggle="tab" data-bs-target="#nav-assessment" type="button" role="tab" aria-controls="nav-assessment" aria-selected="true">{% trans "assessments" %}</button>
        </li>
        <li class="nav-item">
            <button class="nav-link txt-open-semibold-15 capitalize-first" id="data-tab" data-bs-toggle="tab" data-bs-target="#nav-data" type="button" role="tab" aria-controls="nav-data" aria-selected="true">{% trans "data" %}</button>
            </li>
        <li class="nav-item">
        <button class="nav-link txt-open-semibold-15 capitalize-first" id="info-tab" data-bs-toggle="tab" data-bs-target="#nav-info" type="button" role="tab" aria-controls="nav-info" aria-selected="true">Info</button>
        </li>

        {% if downloadable %}
            <li class="nav-item">
                <a href="{% url 'download_pdf' trial.id %}" class="nav-link txt-brand txt-open-semibold-15 capitalize-first"
                    data-toggle="tooltip" data-placement="top" title='Download trial'>
                    <span class="material-symbols-outlined">file_download</span>{% trans "download trial" %}
                </a>
            </li>
        {% endif %}
        {% if edit_trial_perm %}
            <li class="nav-item">
                <a href="https://probelte.sharepoint.com/sites/BaaSArchive/Documentos%20compartidos/trials/{{trial.code}}" 
                   class="nav-link txt-brand txt-open-semibold-15 capitalize-first" target="_blank"
                   data-toggle="tooltip" data-placement="top" title='Trial documents'>
                   <span class="material-symbols-outlined">folder</span>{% trans "files" %}</a>
            </li>
        {% endif %}
    </ul>
</div>
    <div class="tab-content m-2" id="nav-trial">
        <div class="tab-pane fade show active" id="nav-conclusions" role="tabpanel" aria-labelledby="conclusions-tab">
            {% include 'trialapp/trial_conclusions.html' %}
        </div>
        <div class="tab-pane fade" id="nav-design-trial" role="tabpanel" aria-labelledby="design-trial-tab">
            {% include 'trialapp/fieldtrial_design.html' with thesis_list=thesisDetail %}
        </div>
        <div class="tab-pane fade" id="nav-result-summary" role="tabpanel" aria-labelledby="result-summary-tab">
            <p class="txt-encode-20 capitalize-first mt-3">{% trans 'average efficacy'%}</p>
            {% include 'trialapp/trial_content_topic_div.html' with topic='result_summary'%}
        </div>
        <div class="tab-pane fade" id="nav-data" role="tabpanel" aria-labelledby="data-tab">
            {% include 'trialapp/trial_content_topic_div.html' with topic='all_ass_data'%}
        </div>
        <div class="tab-pane fade" id="nav-trends" role="tabpanel" aria-labelledby="trends-tab">
            {% include 'trialapp/trial_content_topic_div.html' with topic='weather_graphs'%}
            {% include 'trialapp/trial_content_topic_div.html' with topic='assess_graphs'%}
        </div>

        <div class="tab-pane fade" id="nav-assessment" role="tabpanel" aria-labelledby="assessment-tab">
            {% include 'trialapp/trial_assesment.html' %}
        </div>
        <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="info-tab">
            {% include 'trialapp/fieldtrial_info.html' %}
        </div>
    </div>

{% else %}
    <div class="card card-body bg-warning col-md-6 mt-4 mb-4 offset-md-3">
        <p class="txt-encode-20">{{error}}</p>
    </div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src='/static/baaswebapp/scripts/baas.js'></script>
<script>    
$(document).ready(function() {
    loadTrialContent(); 
});
$('.btn-assessment-trial').on('click', function() {
    var element = $(this)
    loadAssessment(element);
});

var setDataPointAPI = '/set_data_point';
$('.data-input-template').on('blur', function(){
    var element=$(this);
    return setDataPoint(element, setDataPointAPI);
});

$('.data-input-template').on('keypress', function(event) {
    var element = $(this);
    return processEnter(event, element, setDataPointAPI, 'data-input-template');
});

var assessmentInfoUpdateAPI = '/assessment_api';
$('.assessment-input-form').on('blur', function(){
    var element=$(this);
    return setDataPoint(element, assessmentInfoUpdateAPI);
});

$('.assessment-input-form').on('keypress', function(event) {
    var element = $(this);
    return processEnter(event, element, assessmentInfoUpdateAPI, 'data-input-template');
});


$('#trial-data').on('paste', function(event){
  return pasteData(event, setDataPointAPI);
});

</script>
<script src='/static/baaswebapp/scripts/clipboard_utils.js'></script>
{% endblock %}  