{% extends "baaswebapp/layout.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <h3 class="mt-3 mb-3">Select assessment type and units of this trial: 
            <span><a href="{% url 'fieldtrial-show' fieldTrial.id %}" class="h4">{{fieldTrial.name}}</a></span>
        </h3>
    </div>
    <div class="col-md-4">
        <div class="text-sm-end">
            <a href="{% url 'fieldtrial-list'  %}" class="btn btn-secondary btn-sm">Field Trial list</a>
        </div>
    </div>
</div>

{% if errors %}
<div class="alert alert-primary" role="alert">{{errors}}</div>
{% endif %}
<div class="row">
  <div class="col-md-2">
    
  </div>
  <div class="col-md-6">
    <div class="card no-border" >
      <div class="card-body-baas">
        
        <table class="table"><tbody id="trial-assessment-set-table">
        <tr id="product_evaluation">
            {% include "trialapp/trial_assessment_set_add.html" with field_trial_id=fieldTrial.id assessmentUnits=assessmentUnits assessmentTypes=assessmentTypes %}
        </tr>
        {% for item in trialAssessmentSets %}
            <tr id="trial-assessment-set-{{item.id}}">
                <td>{{item.type}}</td>
                <td>{{item.unit}}</td>
                <td><a id='delete-assessment-set-{{item.id}}' class="btn btn-warning btn-sm fs-4">-</a></td>
            </tr>
        {% empty %}
            <p>No assessment types defined yet.</p>
        {% endfor %}
        
        </tbody></table>

      </div>
    </div>
  </div>
  <div class="col-md-2">
    
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$('.trial-assessment-set-form').submit( function(){
    var element=$(this)
    var appendTable=$('#trial-assessment-set-table')
    return addItemCall(element,appendTable)
});

var manageEndPoint = '/manage_trial_assessment_set_api';

function addItemCall(element,appendTable) {
    var dataJson={}
    $(element.serializeArray()).each(function(index,obj){
        dataJson[obj.name]=obj.value;
    });
    dataJson['field_trial_id']=element.attr('id');
    $.ajax({
        type : "POST",
        url: manageEndPoint,
        data: dataJson,
        
        success: function(data){
            appendTable.append(
                '<tr id="trial-assessment-set-'+data.id+'"><td>'+data.type+'</td><td>'+data.unit+'</td>\
                <td><a id="delete-assessment-set-'+data.id+'" class="btn btn-warning btn-sm fs-4">-</a></td>\
                </tr>'); /* response message */
        },
    
        failure: function() {
            alert('Error. Please reload');
        }
    });
    return false;
};

// Delete item on click
$("#trial-assessment-set-table").on('click', 'a[id^=delete-assessment-set]', function(){
    var item_id = $(this).attr('id').split('-')[3];
    deleteItem(item_id);
});

// AJAX for deleting
function deleteItem(item_id){
    if (confirm('are you sure you want to remove this result type?')==true){
        $.ajax({
            url : manageEndPoint, // the endpoint
            type : "DELETE", // http method
            data : { 'trial_assessment_set_id' : item_id }, // data sent with the delete request
            success : function(json) {
                // hide the post
                $('#trial-assessment-set-'+item_id).hide(); // hide the post on success
            },

            error : function(xhr,errmsg,err) {
                // Show an error
                $('#results').html("<div class='alert-box alert radius' data-alert>"+
                "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>"); // add error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    } else {
        return false;
    }
};
</script>
{% endblock %}