{% csrf_token %}
<div class="row ms-4 product-variant-tabs">
    <ul class="nav flex-column" style="height: fit-content; position:fixed;">
        {% for assessment in dataTrial.Assessments %}
            <li class="nav-item">
                <button data-key="{{ assessment.id }}" class="nav-link product-variant-link" onclick="handleAssessmentClick(event)">{{assessment.name}}</button>
            </li>
        {% endfor %}
    </ul>
    <div class="col-md-9" id="assessment-render-view" style="margin-left: 183px">

    </div>
</div>

{% block scripts %}
    <script>
        const activeClass = 'active'
        const firstButton = document.querySelector('ul.flex-column li:first-child button')
        firstButton.classList.add(activeClass)
        firstButton.click()

        function handleAssessmentClick(event){
            try{
                const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                const renderView = document.querySelector('#assessment-render-view');
                const key = event.target.dataset.key

                fetch(`/assessment-trial-view/${key ? key : '500'}`, {
                    method: 'GET',
                    headers: {
                    'Content-Type': 'text/html',
                    'X-CSRFToken': csrfToken
                    }
                }).then(response => response.text())
                .then(content =>{
                    renderView.innerHTML = content
                    swapActiveButtons(event)
                    window.scroll(0, 0)
                });
            }catch(error){
                console.error(error)
            }
        }

        function swapActiveButtons(event){
            const previousButton = document.querySelector('ul.flex-column li button:is(.active)')
            previousButton.classList.remove(activeClass)
            event.target.classList.add(activeClass)
        }
    </script>
{% endblock %}