{% load i18n %}
{% block content %}
{% load custom_filter_templates %}
<div class="card card-body-baas mt-2">
  <div class="table-container-long">
  <table class="data-table-longer baas-data-table table table-borderless" id="trial-data">
    <thead>
      <tr><th>
        {% if edit_trial_perm %}
        <a href="{% url 'assessment-add' dataContent.trialId %}" class="btn btn-box-baas btn-sm"
            data-toggle="tooltip" data-placement="top" title='Create new item'><span class="material-symbols-outlined" >add</span></a>
        {% endif %}
      </th><th class="text-righ txt-uppercase">{% trans 'assessements'%}</th>
        {% for itemId in dataContent.header.ids %}
          <th class="text-right">
            <a href="{% url 'assessment' itemId.id %}" class="btn btn-secondary">
              {{itemId.name}}</a>
          </th>
        {% endfor %}
      </tr>
      {% include "trialapp/trial_data_header_edit_select.html" with headerRowClass=dataContent.header.rating title='Rating (Unit)' selectOptions=dataContent.ratings %}
      {% include "trialapp/trial_data_header_edit.html" with headerRowClass=dataContent.header.dates title='Date' type='date' %}
      {% include "trialapp/trial_data_header_edit.html" with headerRowClass=dataContent.header.bbch title='BBCH' type='text' %}
      {% include "trialapp/trial_data_header_edit_select.html" with headerRowClass=dataContent.header.partRated title='Part Rated' selectOptions=dataContent.ratedparts %}
      {% include "trialapp/trial_data_header_edit.html" with headerRowClass=dataContent.header.names title='Name/Interval' type='text' %}
      <tr>
        <td colspan="2"></td>
        {% for i in 0|range_to:dataContent.last_column %}
        <td style="text-align: right">
          <a data-column="{{ i }}" onclick="copyColumnData(event)" class="btn btn-primary">
            COPIAR COLUMNA
          </a>
        </td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for dataRow in dataContent.dataRows %}
        <tr class="border-custom-{{dataRow.color}}">
            {% if dataRow.rowspan > 0 %}
              <td rowspan="{{dataRow.rowspan}}">
                {{dataRow.thesis}}
              </td>
            {% endif %}
              <td class=" text-right">{{dataRow.replica}}</td>
        {% for dataPointValue in dataRow.values %}
          <td id="cell-{{dataPointValue.row}}-{{dataPointValue.column}}">
            {% if edit_trial_perm %}
              <form id="form-data-input-template-{{level}}-{{dataPointValue.item_id}}" 
                class='form-data-input-template'  method="POST">
                {% csrf_token %}
                <input type="text" name="data-point"
                    id="{{dataPointValue.item_id}}"
                    class="form-control-baas input data-input-template text-right"
                    placeholder="-"
                    value={{dataPointValue.value}}></input>
              </form>
            {% else %}
              {{dataPointValue.value}}
            {% endif %}
          </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
</div>

{% endblock %}
