{% extends "baaswebapp/layout.html" %}

{% load crispy_forms_tags %}
{% load custom_filter_templates %}
{% block content %}

{% include "trialapp/header_page_trial.html" with title='All plot data' subheader=fieldTrial.name new_href_id='assessment-add' refId=fieldTrial.id%}
{% include "trialapp/trial_data_table.html" %}


{% endblock %}

{% block scripts %}
<script src='/static/baaswebapp/scripts/baas.js'></script>
<script>
var setDataPointAPI = '/set_data_point';
$('.data-input-template').on('blur', function(){
    var element=$(this);
    return setDataPoint(element, setDataPointAPI);
});

$('.data-input-template').on('keypress', function(event) {
    var element = $(this);
    return processEnter(event, element, setDataPointAPI, 'data-input-template');
});

var assessmentInfoUpdateAPI = '/assessment_api';
$('.assessment-input-form').on('blur', function(){
    var element=$(this);
    return setDataPoint(element, assessmentInfoUpdateAPI);
});

$('.assessment-input-form').on('keypress', function(event) {
    var element = $(this);
    return processEnter(event, element, assessmentInfoUpdateAPI, 'data-input-template');
});


$('#trial-data').on('paste', function(event){
  return pasteData(event, setDataPointAPI);
});
</script>
{% endblock %}