{% extends "baaswebapp/layout.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% include "baaswebapp/header_page.html" with title=fieldTrial.code subheader=fieldTrial.name action='add types and units for this trial' go_ref='field_trial_api' refId=fieldTrial.id%}

<div class="row">
  <div class="col-md-2">
    
  </div>
  <div class="col-md-6">
    <div class="card no-border" >
      <div class="card-body-baas">
        
        <table class="table"><tbody id="table-items">
        <tr id="product_evaluation">
            {% include "trialapp/trial_assessment_set_add.html" with field_trial_id=fieldTrial.id assessmentUnits=assessmentUnits assessmentTypes=assessmentTypes %}
        </tr>
        {% for item in trialAssessmentSets %}
            <tr id="item-{{item.id}}">
                <td>{{item.type}}</td>
                <td>{{item.unit}}</td>
                <td><a id='delete-item-{{item.id}}' class="btn btn-warning btn-sm fs-4">-</a></td>
            </tr>
        {% empty %}
            <p>No assessment types defined yet.</p>
        {% endfor %}
        
        </tbody></table>

      </div>
    </div>
  </div>
  <div class="col-md-2">
    
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src='/static/baaswebapp/scripts/baas.js'></script>
<script>
$('.trial-assessment-set-form').submit( function(){
    var element=$(this)
    var appendTable=$('#table-items')
    return addItemCall(element,appendTable)
});

var manageItemEndPoint = '/manage_trial_assessment_set_api';

function addItemCall(element,appendTable) {
    var dataJson={}
    $(element.serializeArray()).each(function(index,obj){
        dataJson[obj.name]=obj.value;
    });
    dataJson['field_trial_id']=element.attr('id');
    $.ajax({
        type : "POST",
        url: manageItemEndPoint,
        data: dataJson,
        
        success: function(data){
            appendTable.append(
                '<tr id="item-'+data.id+'"><td>'+data.type+'</td><td>'+data.unit+'</td>\
                <td><a id="delete-item-'+data.id+'" class="btn btn-warning btn-sm fs-4">-</a></td>\
                </tr>'); /* response message */
        },
    
        failure: function() {
            alert('Error. Please reload');
        }
    });
    return false;
};

</script>
{% endblock %}