<table class="table">
    <thead>
        <tr><th>TRIAL</th><th>Description</th><th>PRODUCT</th><th>PRODUCT TYPE</th><th>Active Substance</th><th>Efficacy Range</th>
            <th>Trial Date</th></tr>
    </thead>
    <tbody>
    {% for item in object_list %}
    <tr id="item-{{item.id}}">
        <td><a class="btn btn-light rounded-pill" href="{% url 'fieldtrial_api' item.id%}">{{ item.code }}</a></td>
        <td><p>{{item.description}}</p>{{item.location}}</td>
        <td>{{item.product}}</td>
        <td><span class='badge {{item.color_category}} rounded-pill fs-6'>{{item.category}}</span></td>
        <td>{{item.active_substance}}</td> 
        <td>{{item.efficacies}}</td>
        <td>{{item.date_range}}</td>
    </tr>
    </tbody>
    {% empty %}
        <p>No Products yet.</p>
    {% endfor %}
</table>

