{% load i18n %}
<div class="row mt-3"> 
    <div class="col-md-2">
        <ul class="list-group" >
            <li class="list-group-item txt-open-semibold-13 txt-uppercase">{% trans 'assessments'%}</li>
            {% for assessment in dataTrial.Assessments %}
            <li class="list-group-item btn-assessment-trial" 
                id="load-assessment-{{trial.id}}-{{ assessment.id }}">
                    <p class='txt-open-semibold-13'>{{assessment.name}}</p>
                    <p class='txt-open-semibold-11'>{{assessment.unit}}</p>
                    <p class='txt-regular-11'>{{assessment.date}}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-10">
        <!-- This will create an div with id -->
        <div class="trial-dynamic-content mt-3" id="trial-{{trial.id}}-assessment_view">
            <div class="loading-spinner"></div>
        </div>
    </div>
</div>
