{% load crispy_forms_tags %}

<form id="trial-assessment-set-form-{{field_trial_id}}" class='trial-assessment-set-form mb-3 mt-1' method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <td>
        {% include "baaswebapp/input_select_template.html" with tag="assessment_type" item_id='new'  currentValue='' selectOptions=assessmentTypes addNull=True%}
    </td>
    <td>
        {% include "baaswebapp/input_select_template.html" with tag="assessment_unit" item_id='new'  currentValue='' selectOptions=assessmentUnits addNull=True%}
    </td>
    <td>
    <input type="submit" name="submit" value="&#43;" class="btn btn-info btn-sm"/></td>
</form>