{% load i18n %}
{% if dataContent.error %}
  <p class='txt-regular-12 txt-warning'>{{dataContent.error|safe}}</p>
{% else %}
<div class="card-body-baas">
  <p class="txt-encode-20 capitalize-first">{% trans "assessment results" %}
    
    <span class="txt-open-bold-24 ms-3">{{dataContent.rateunitpart}}</span>
    <span class="material-symbols-outlined ms-4">calendar_month</span>
    <span class="txt-encode-16">{{dataContent.assessment.assessment_date}} </span>
    
  </p>
</div>
<div class="row mt-3">
  <div class="col-md-6">
   <div class="card-body-baas">
    <p class="card-title txt-encode-20 capitalize-first">{% trans "efficacy" %}</p>
    {{dataContent.efficacy|safe}}
  </div>
  </div>
  <div class="col-md-6">
    <div class="card-body-baas">
      <p class="card-title txt-encode-20 capitalize-first">{{dataContent.rateunitpart}}</p>
      {{dataContent.graphData|safe}}
    </div>
  </div>
  
</div>
<div class="row mt-3">
  <div class="col-md-8">
    <div class="card-body-baas">
    <div class="table-container-long">
    <table class="baas-data-table">
      <thead>
        <tr><th class="col-md-2">Thesis</th>
            {% if dataContent.level != 'thesis' %}
              <th class="col-md-1">avg</th>

              <th class="col-md-1">{% trans 'plots' %}</th>
            {% endif %}
            <th class="text-right col-md-1">value</th>
            {% if dataContent.sampleNums %}
              <th></th>
              {% for num in dataContent.sampleNums %}
                <th class="text-right col-md-1">{{num}}</th>
              {% endfor %}
            {% endif %}
        </tr></thead>
      <tbody>
      {% for dataRow in dataContent.dataRows %}
      <tr class="border-custom-{{dataRow.color}}">
          {% if dataRow.rowspan > 0 %}
            <td rowspan="{{dataRow.rowspan}}">{{dataRow.thesis}}</td>
            {% if level != 'thesis' %}
              <td rowspan="{{dataRow.rowspan}}"> {{dataRow.tvalue}}
                {% if dataRow.groups %}
                  <span class="badge rounded-pill bg-custom-baas-primary">{{dataRow.groups}}</span>
                {% endif %}
              </td>
            {% endif %}
          {% endif %}
          {% if level == 'sample' %}
            <td>&ThickSpace;</td>
          {% endif %}
          {% if level != 'thesis' %}
            <td>{{dataRow.replica}}</td>
          {% endif %}
          <td class="text-right">
            {% if dataRow.item_id %}
              <form id="form-data-input-template-{{dataRow.item_id}}" 
                class='form-data-input-template' method="POST">
                {% csrf_token %}
                <input type="text" name="data-point"
                    id="{{dataRow.item_id}}"
                    class="form-control-baas input data-input-template text-right"
                    placeholder="-"
                    value={{dataRow.value}}></input>
              </form>
            {% else %}
              {{dataRow.value}}
            {% endif %}
          </td>
          {% if dataRow.sampleCols %}
            <td>&ThickSpace;</td>
            {% for col in dataRow.sampleCols %}
              <td class="text-right">
                {% if col.item_id %}
                  <form id="form-data-input-template-{{col.item_id}}" class='form-data-input-template'  method="POST">
                    {% csrf_token %}
                    <input type="text" name="data-point"
                        id="{{col.item_id}}"
                        class="form-control-baas input data-input-template text-right"
                        placeholder="-"
                        value={{col.value}}></input>
                  </form>
                {% else %}
                  {{col.value}}
                {% endif %}
              </td>
            {% endfor %}
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
    </div>
  </div>
  <div class="col-md-4">
  <div class="card card-baas-alt">
    <p class="card-title txt-encode-20 capitalize-first">{% trans "statistics" %}</p>
    <table class="table stats-table">
      <tr ><td >{% trans 'name'%}</td><td >{{dataContent.assessment.name}}</td></tr>
      <tr><td >{% trans 'date'%}</td><td >{{dataContent.assessment.assessment_date}}</td></tr>
      <tr><td >{% trans 'crop stage majority'%}</td><td >{{dataContent.assessment.crop_stage_majority}}</td></tr>
      <tr><td >{% trans 'part rated'%}</td><td >{{dataContent.assessment.part_rated}}</td></tr>
    </table>
    {{dataContent.stats|safe}}
  </div>
  <div class="terrain mt-2">
    {% for row in dataContent.layoutInfo %}
        {% include "trialapp/data_row_replica_template.html" with row=row %}
    {% empty %}
        <p>Terrain layout is not defined yet.</p>
    {% endfor %}
  </div>
</div>
{% endif %}