{% load i18n %}
{% if key_treatment_id %}
    {% url 'treatment-update' key_treatment_id as edit_treatment %}
{% endif %}
{% if key_thesis_id %}
    {% url 'thesis-update' key_thesis_id as edit_thesis %}
{% endif %}
{% url 'fieldtrial-update' trial.id as edit_trial %}

<div class="row ">
    <div class="col-md-8 mt-3">
        <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col">
                <div class="card card-body-baas">
                    <p class="card-title txt-regular-14 capitalize-first">
                        {% trans "dosis" %}</p>
                    <p class="txt-open-bold-22">
                        <span class="small-icon-16 material-symbols-outlined txt-baas-baas">colorize</span>
                        {% include 'baaswebapp/show_value.html' with value=key_dosis_rate url_fix=edit_treatment%}
                        {% if key_dosis_unit %}
                            <span class="txt-regular-14">{{key_dosis_unit}}</span>
                        {% endif %}
                        </p>
                </div>
            </div>
            <div class="col">
                <div class="card card-body-baas">
                    <p class="card-title txt-regular-14 capitalize-first">{% trans "solution volume" %}</p>
                    <p> <span class="small-icon-16 material-symbols-outlined txt-baas-baas">science</span>
                        <span class="txt-open-bold-22">
                            {% include 'baaswebapp/show_value.html' with value=trial.application_volume url_fix=edit_trial%} </span>
                        <span class="txt-regular-14">
                            {% include 'baaswebapp/show_value.html' with value=trial.application_volume_unit url_fix=edit_trial%}</span></p>
                </div>
            </div>
            <div class="col">
                <div class="card card-body-baas">
                    <p class="card-title txt-regular-14 capitalize-first">{% trans "number applications"%}</p>
                    <p class="txt-open-bold-22">
                        <span class="small-icon-16 material-symbols-outlined txt-baas-baas">restart_alt</span>
                        {% include 'baaswebapp/show_value.html' with value=key_number_apps url_fix=edit_thesis%}</p>
                </div>
            </div>
            <div class="col">
                <div class="card card-body-baas">
                    <p class="card-title txt-regular-14 capitalize-first">{% trans "day intervals"%}</p>
                    <p class="txt-open-bold-22">
                        <span class="small-icon-16 material-symbols-outlined txt-baas-baas">calendar_month</span>
                        {% include 'baaswebapp/show_value.html' with value=key_interval url_fix=edit_thesis%}</p>
                </div>
            </div>
        </div>
        <div class="card card-body-baas mt-3">
            <p class="card-title txt-encode-20 capitalize-first">{% trans "recommendations" %}</p>
            <p class="txt-regular-13">
                {% include 'baaswebapp/show_value.html' with value=trial.conclusion url_fix=edit_trial%}
            </p>
        </div>
        <div class="card card-body-baas mt-3" >
            <p class="card-title txt-encode-14 txt-uppercase">{% trans "efficacy" %} {{type_product}}</p>
            <div class="trial-dynamic-content" id="trial-{{trial.id}}-key_assess">
                <div class="loading-spinner"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-3">
        <div class="card card-baas-alt">
            <p class="card-text"></p>
            <div class="row">
                <div class="col-md-8">
                    <p class="card-title txt-encode-20 capitalize-first">{% trans "efficacy" %}</p>
                </div>
                <div class="col-md-4">
                    <p class="txt-baas-baas txt-open-bold-18">{{efficacy}} %</p>
                </div>
            </div>
        </div>
        <div class="card card-baas-alt mt-2">
            {% if control_product %}
                <p class="txt-regular-12 capitalize-first">{% trans "pest / disease" %}</p>
                <i class="txt-encode-20 mb-2">{{trial.plague}}</i>
            {% endif %}
            <p class="txt-regular-12 capitalize-first">{% trans "crop" %}</p>
            <p class="txt-encode-20 mb-2">{{trial.crop}}</p>
            <p class="txt-regular-12 capitalize-first">{% trans "date" %}</p>
            <p class="card-title txt-encode-20">{{period}}</p>
        </div>
        <div class="card card-baas-alt mt-2">
            <p class="txt-regular-12 capitalize-first">{% trans "location" %}</p>
            <p class="txt-encode-20">{{trial.location}}</p>
        </div>
        {% if trial.latitude %}
            <div id="map" width="100%" style='height:250px'></div><div id="show_marker"></div>
            {% else %}
                <small> You can now define the latitude and longitude of this trial. Please add it</small>
            {% endif %}
        <div class="card card-baas-alt mt-2">
            <p class="card-title txt-encode-20 capitalize-first">{% trans "weather conditions" %}</p>
            <p class="card-title card-title txt-regular-12">{{period}}</p>
            <div class="row mt-3">
                <div class="col-md-4  txt-center">
                    <span class="material-symbols-outlined small-icon" >device_thermostat</span>
                    <p class="txt-regular-12 capitalize-first">{% trans "temperature" %}</p>
                </div>
                <div class="col-md-4  txt-center">
                    <span class="material-symbols-outlined small-icon" >water_drop</span>
                    <p class="txt-regular-12 capitalize-first">{% trans "humidity" %}</p>
                </div>
                <div class="col-md-4  txt-center">
                    <span class="material-symbols-outlined small-icon" >grain</span>
                    <p class="txt-regular-12 capitalize-first">{% trans "precipitation" %}</p>
                </div>
            </div>
            <div class="trial-dynamic-content mt-3" id="trial-{{trial.id}}-weather_avg">
                {% include 'trialapp/trial_weather_avg.html'%}
            </div>
        </div>
        <div class="card card-baas-alt mt-2">
            <h6 class="card-title txt-encode-20 capitalize-first">{% trans "cultivation" %}</h6>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <p class="txt-regular-12 capitalize-first">{% trans "cultivation mode" %}</p>
                    <p class="txt-open-semibold-14">Lorem</p>
                </div>
                <div class="col-md-4">
                    <p class="txt-regular-12 capitalize-first">{% trans "irrigation" %}</p>
                    <p class="txt-open-semibold-14">Lorem</p>
                </div>
                <div class="col-md-4">
                    <p class="txt-regular-12 capitalize-first">{% trans "texture" %}</p>
                    <p class="txt-open-semibold-14">Lorem</p>
                </div>
            </div>
        </div>
        <div class="card card-baas-alt mt-2">
            <h6 class="card-title txt-encode-20">{{trial.product}}</h6>
            <p class="txt-regular-12 capitalize-first">{% trans "active substance" %}</p>
            <p class="txt-open-semibold-14">{{trial.product.active_substance}}</p>
            <p class="txt-regular-12 capitalize-first mt-2">{% trans "benefit" %}</p>
            <p class="txt-open-semibold-14">Lorem</p>
        </div>
        
    </div>
</div>