<div class="card card-body-baas mt-3">
    <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-temps-tab" data-toggle="pill" href="#v-pills-temps" role="tab"
            aria-controls="v-pills-thesis" aria-selected="true">
            <span class="fs-2">&#127777;</span> Temperature</a>
        <a class="nav-link" id="v-pills-precip-tab" data-toggle="pill" href="#v-pills-precip" role="tab"
            aria-controls="v-pills-replica" aria-selected="false">
            <span class="fs-2">&#127783;</span> Precipitation
        </a>
        <a class="nav-link" id="v-pills-soiltemp-tab" data-toggle="pill" href="#v-pills-soiltemp" role="tab"
            aria-controls="v-pills-replica" aria-selected="false">
            <span class="fs-2">&#129716;</span> Soil Temperature
        </a>
        <a class="nav-link" id="v-pills-soilmoist-tab" data-toggle="pill" href="#v-pills-soilmoist" role="tab"
            aria-controls="v-pills-replica" aria-selected="false">
            <span class="fs-2">&#128166;</span> Soil Moisture
        </a>
        <a class="nav-link" id="v-pills-humidity-tab" data-toggle="pill" href="#v-pills-humidity" role="tab"
            aria-controls="v-pills-replica" aria-selected="false">
            <span class="fs-2">&#9748;</span> Humidity
        </a>
        <a class="nav-link" id="v-pills-dewpoint-tab" data-toggle="pill" href="#v-pills-dewpoint" role="tab"
            aria-controls="v-pills-replica" aria-selected="false">
            <span class="fs-2">&#128167;</span> Dew Point
        </a>
        <a href="{% url 'meteo_api' fieldTrial.id %}" class="btn btn-secondary">Enrich with Meteorological Data</a>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-temps" role="tabpanel" aria-labelledby="v-pills-temps-tab">
            <div class="card card-body-baas baas-graphs mt-4">
                {% if tempGraph %}
                {{ tempGraph|safe }}
                {% else %}
                <small>Please add data to view this graph.</small>
                {% endif %}
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-precip" role="tabpanel" aria-labelledby="v-pills-precip-tab">
            <div class="card card-body-baas baas-graphs mt-4">
                {% if precipGraph %}
                {{ precipGraph|safe }}
                {% else %}
                <small>Please add data to view this graph.</small>
                {% endif %}
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-soiltemp" role="tabpanel" aria-labelledby="v-pills-soiltemp-tab">
            <div class="card card-body-baas baas-graphs mt-4">
                {% if soilTempGraph %}
                {{ soilTempGraph|safe }}
                {% else %}
                <small>Please add data that is at least 7 days old to view this graph.</small>
                {% endif %}
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-soilmoist" role="tabpanel" aria-labelledby="v-pills-soilmoist-tab">
            <div class="card card-body-baas baas-graphs mt-4">
                {% if soilMoistGraph %}
                {{ soilMoistGraph|safe }}
                {% else %}
                <small>Please add data that is at least 7 days old to view this graph.</small>
                {% endif %}
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-humidity" role="tabpanel" aria-labelledby="v-pills-humidity-tab">
            <div class="card card-body-baas baas-graphs mt-4">
                {% if humidGraph %}
                {{ humidGraph|safe }}
                {% else %}
                <small>Please add data that is at least 7 days old to view this graph.</small>
                {% endif %}
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-dewpoint" role="tabpanel" aria-labelledby="v-pills-dewpoint-tab">
            <div class="card card-body-baas baas-graphs mt-4">
                {% if dewPointGraph %}
                {{ dewPointGraph|safe }}
                {% else %}
                <small>Please add data that is at least 7 days old to view this graph.</small>
                {% endif %}
            </div>
        </div>
    </div>
</div>