
@font-face {
  font-family: 'Rubik';
  src: url('/static/baaswebapp/content/Rubik-ExtraBold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('/static/baaswebapp/content/Rubik-Regular.ttf') format('ttf') ;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('/static/baaswebapp/content/Rubik-Light.ttf') format('ttf') ;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
} 

:root{
  --custom-main-color: #a500a5;
  --custom-red: #ff6e73;
  --custom-yellow: #ffd26e;
  --custom-green: #92eeb9;
  --custom-blue: #00bdeb;
  --custom-grey: #F0EEEB;
  --custom-black: #333333;
  --custom-bio-morado: #aa4ae4;
  --custom-morado: #a500a5;
  --custom-violeta: #cfc9ff;
}

.bg-project {
  background: var(--custom-morado );
}

.bg-objective{
  background-color: var(--custom-green );
  
}
.bg-plague{
  background: var(--custom-red );
}

.bg-crop{
  background: var(--custom-blue );
}

.bg-product{
  background: var(--custom-bio-morado );
}

.bg-custom-cards{
  background: var(--custom-bg-color-cards);
}

.bg-custom-main{
  background: var(--custom-main-color);
}

.txt-custom-main{
  color: var(--custom-main-color);
}

.baas-body{
  background-color: var(--custom-bg-color);
}

.bg-custom-bg{
  background-color: var(--custom-bg-color);
}
.bg-custom-morado{
  background: var(--custom-morado );
}
.bg-custom-bio-morado{
  background: var(--custom-bio-morado );
}
.bg-custom-violeta{
  background: var(--custom-violeta);
}
.bg-custom-red{
  background: var(--custom-red);
}
.bg-custom-yellow{
  background: var(--custom-yellow);
}
.bg-custom-green{
  background: var(--custom-green);
}
.bg-custom-blue{
  background: var(--custom-blue);
}

.bg-custom-0{
  background-color: var(--custom-bg-color) !important;
}
.bg-custom-1{
  background-color: var(--custom-morado) !important;
}
.bg-custom-2{
  background: var(--custom-bio-morado ) !important;
}
.bg-custom-3{
  background-color: var(--custom-violeta) !important;
}
.bg-custom-4{
  background: var(--custom-red) !important;
}
.bg-custom-5{
  background: var(--custom-yellow) !important;
}
.bg-custom-6{
  background: var(--custom-green) !important;
}
.bg-custom-7{
  background: var(--custom-blue) !important;
}
.bg-custom-8{
  background: var(--bs-primary) !important;
}
.bg-custom-9{
  background: var(--bs-success) !important;
}
.bg-custom-10{
  background: var(--bs-info) !important;
}
.bg-custom-11{
  background: var(--bs-warning) !important;
}
.bg-custom-12{
  background: var(--bs-danger) !important;
}
.bg-custom-13{
  background: var(--bs-green) !important;
}
.bg-custom-14{
  background: var(--bs-secondary) !important;
}

.navbar-nav .nav-link{
  font-size: 1rem !important;
  text-transform: capitalize !important;
  color: #fff !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.no-border{
  border:none !important;
}
.subtitle{
  font-size:1.25rem;
}
.custom-border{
  border: 1px solid var(--custom-main-color);
}
.custom-bottom{
  border-radius: 2rem;
  font-size:1.25rem;
  padding:0.5rem 0.75rem;
  font-weight:bold;
  text-transform: capitalize;
  border: none !important;
}
.nav-login{
  border-radius: 2rem;
  padding:0.5rem 0.75rem;
  border: none !important;
  background: #29abe0 !important;
	background-size: 200% 200%;
  color: var(--custom-main-color) !important;
  font-weight: bold !important;
}

.nav-gradient{
  border-radius: 2rem;
  padding:0.5rem 0.75rem;
  border: none !important;
  background: linear-gradient(270deg, #da444f, #fe7965, #f9d400, #c9d222, #3bcf82);
	background-size: 200% 200%;
	animation: gradient 4s ease infinite;
  color: var(--custom-main-color) !important;
  font-weight: bold !important;
}
.telegraf{
  font-family: 'Rubik', sans-serif;
}
.navbar .nav-item .btn-info{
  border-radius:10px;
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}
.navbar .nav-item .btn-info:hover{
  background:#499ff0;
}
.navbar .nav-item .dropdown-menu{
  text-align:center;
  left:-50%;
  padding: 10px;
}
.navbar .nav-item .dropdown-menu .dropdown-item{
  padding: 0.25rem 3rem;
  border-radius:10px;
}
.navbar .nav-item .dropdown-menu .dropdown-item:hover, .navbar .nav-item .dropdown-menu .dropdown-item:focus {
  color: #8e8c84;
  background-color: #f4f4f4;
}
.navbar .nav-item .dropdown-menu li{
  margin:10px 0px;
}
.navbar .nav-item .dropdown-menu .dropdown-divider{
  margin: 20px;
}


.card-header-baas {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  border-top-left-radius:10px !important;
  border-top-right-radius:10px !important;
  background: #8e8c84;
  /* border-bottom: 1px solid rgba(223, 215, 202, 0.75); */
}

.card-body-baas {
  background-color:var(--custom-bg-color-cards);
  border-radius:10px !important;
  padding:20px;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.list-group-item-baas {
  color: #fff;
  background-color: var(--custom-bg-color-cards);
}

.text-white{
  color: #fff;
}

.text-big-number{

  font-size: 64px;
  color: var( --bs-text-color);
}

.card-header{
  border-radius:5px !important;
  padding :10px 0px;
}
.card-bottom{
  padding: 10px 0px;
  border-radius:10px;
  margin-top:-20px;
  color:#fff;
  font-size:1.35rem;
}
.card-bottom a{
  text-decoration: none;
  vertical-align:middle;
}
.card-bottom .btn-large{
  color:#fff;
  font-size:1.85rem;
  font-weight:bold;
  text-transform: initial !important;
  text-decoration: none;
  vertical-align:middle;

}
.card-bottom .btn-small{
  font-size:1.35rem;
  font-weight:normal;
  color:#fff;
  text-decoration: none;
  vertical-align:middle;
}

select, textarea, input[type=number], input[type=date]{
  border-radius:10px !important;
}
input[type='checkbox'], input[type="radio"] {
  border-radius:2px !important;
}
input[type='submit'], button[type='submit'], .btn-primary {
  border-radius: 10px !important;
  background: var(--custom-main-color);
  color:#fff;
}
input[type='submit']:hover, button[type='submit']:hover, .btn-primary:hover {
  background: #499ff0;
}
.btn-step_by_step a{
  margin: 0 10px;
  border-radius: 20px !important;
  padding: 5px 15px !important;
}

.text-right {
  text-align: right !important;
}

.btn-header a{
  margin: 0 10px;
  border-radius: 20px !important;
  padding: 5px 15px !important;
}
