@import url(product_show.css);

@font-face {
  font-family: 'Presicav';
  src: url('/static/baaswebapp/content/PresicavRg-Regular.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


:root{
  --bs-text-color: #333;
  --bs-text-color-white: #fff;
  --bs-text-color-table: #333;
  --custom-bg-color: #F9F9F9; /*rgba(3,53,104,0.05);*/
  --custom-lines: #e1e1e1;
  --custom-table-borders: #E7E7E7;
  --custom-bg-color-cards:#fff;
  --custom-form-background:#fff;
  --custom-form-background-focus: #F9F9F9;
  --bs-body-background: #F7F7F7;
  --custom-brand-color: #a500a5;
  --custom-baas: #aa4ae4;
  --custom-baas-alt: #cfc9ff;
  --custom-red: #ff6e73;
  --custom-yellow: #ffd26e;
  --custom-green: #92eeb9;
  --custom-blue: #00bdeb;
  --custom-gray: #F0EEEB;
  --custom-black: #333333;
  --custom-bio-morado: #aa4ae4;
  --custom-bio: #aa4ae4;
  --custom-untreated: #B1C23F;
  --custom-morado: #a500a5;
  --custom-violeta: #cfc9ff;
  --baas-gray: #666;
  --border-radius-tabs: 0.15rem;
  --margins-show-pages: 20px;
  --custom-card-bg-light-violet: #EFEDFF;
  --font-icons: 'bootstrap-icons';
  --width-height-time-line-icons: 13px;
  --left-time-line-icon: -22px;
  --custom-control: #B1C23F; 
  --custom-key-thesis: #aa4ae4;
  --custom-color-0: #4CAF50;
  --custom-color-1: #FF5722;
  --custom-color-2: #3F51B5;
  --custom-color-3: #009688;
  --custom-color-4: #FFEB3B;
  --custom-color-5: #795548;
  --custom-color-6: #E91E63;
  --custom-color-7: #2196F3;
  --custom-color-8: #9E9E9E;
  --custom-color-9: #FFC107;
  --custom-color-10: #607D8B;
  --custom-color-11: #9C27B0;
  --custom-color-12: #03A9F4;
  --custom-color-13: #8BC34A;
  --custom-color-14: #FF9800;
  --custom-color-15: #673AB7;
  --custom-color-16: #00BCD4;
  --custom-color-17: #CDDC39;
  --custom-color-18: #F44336;
  --product-image-wh: 150px;
  --processed-bg-color: #cfc9ff;
}

.no-gutters{
--bs-gutter-x: 0;
--bs-gutter-y: 0;
}

.container-baas
{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.no-wrap{
  white-space: nowrap;
}

.icon-baas {
  width: 75px;
}


.sidenav-baas {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 100px; /* Stay at the top */
  left: 0;
  background-color: var(--custom-bg-color-cards); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-right: 2px solid var(--custom-lines);
}

/* Style page content */
.main-baas {
  margin-left: 100px; /* Same as the width of the sidebar */
  margin-top: 100px; /* Same as the width of the sidebar */
}

.navbar-baas {
  color: var(--bs-text-color);
  background-color: var(--custom-bg-color-cards);
}

.bg-baas{
  background: var(--custom-baas );
}

.bg-baas-alt{
  background-color: var(--custom-baas-alt ) !important;
}

.bg-nutritional{
  background: var(--custom-green );
  color: #000;
}

.bg-estimulant{
  background: var(--custom-yellow );
  color: #000;
}

.bg-control{
  background: var(--custom-blue );
  color: #000;
}

.bg-status-trial {
  background: var(--custom-card-bg-light-violet) !important;
  color: #000;
}

.bg-unknown{
  background: var(--custom-grey );
}


.bg-project {
  background: var(--custom-morado );
}

.bg-objective{
  background-color: var(--custom-green );
  
}
.bg-plague{
  background: var(--custom-red );
}

.bg-crop{
  background: var(--custom-blue );
}

.bg-product{
  background: var(--custom-bio-morado );
}

.bg-custom-cards{
  background: var(--custom-bg-color-cards);
}

.bg-weather-cards{
  background: #F5FFFF !important;
}

.bg-custom-main{
  background: var(--custom-brand-color);
}

.txt-custom-main{
  color: var(--custom-brand-color);
}

.txt-white{
  color: white !important;
}

.txt-baas{
  color: var(--bs-text-color) !important;
}

.txt-baas-baas{
  color: var(--custom-bio) !important;
}

.txt-warning{
  color: var(--bs-warning) !important;
}

.txt-uppercase{
  text-transform: uppercase;
}

.capitalize-first {
  text-transform: capitalize !important; 
}

.txt-brand{
  color: var(--custom-brand-color) !important;
}

.baas-body{
  background-color: var(--bs-body-background);
}

.baas-content{
  padding: 2rem;
}

.btn-brand {
  color: #fff;
  font-size: 13 !important;
  font-family: 'Open Sans', serif !important;
  font-weight: bolder !important;
  background-color: var(--custom-brand-color);
  border-radius: 50rem !important;
}

.btn-brand:hover {
  color: #fff;
  background-color: var(--custom-baas);
  border-radius: 50rem !important;
}

.btn-outline-brand {
  color: var(--custom-brand-color);
  border-color: var(--custom-brand-color);
  border-radius: 50rem !important;
  border-width: 3px;
  font-size: 13 !important;
  font-family: 'Open Sans', serif !important;
  font-weight: bolder !important;
}

.btn-outline-brand:hover {
  color: var(--custom-brand-color);
  border-color: var(--custom-brand-color);
  background-color: var(--custom-bg-color);
  border-radius: 50rem !important;
  border-width: 3px;
}


.btn-baas {
  color: #fff;
  background-color: var(--custom-baas);
  border-radius: 50rem !important;
  font-size: 13 !important;
  font-family: 'Open Sans', serif !important;
  font-weight: bolder !important;
}

.btn-baas-alt {
  color: #000;
  background-color: var(--custom-baas-alt);
  border-radius: 50rem !important;
  border-color: var(--custom-baas-alt);
  font-size: 13 !important;
  font-family: 'Open Sans', serif !important;
  font-weight: bolder !important;
}

.btn-baas:hover {
  color: #fff;
  background-color: var(--custom-brand-color);
  border-radius: 50rem !important;
}

.btn-outline-baas {
  color: var(--custom-baas);
  border-color: var(--custom-baas);
  border-radius: 50rem !important;
  border-width: 3px;
  font-size: 13 !important;
  font-family: 'Open Sans', serif !important;
  font-weight: bolder !important;
}

.btn-outline-baas:hover {
  color: var(--custom-baas);
  border-color: var(--custom-baas);
  background-color: var(--custom-bg-color);
  border-radius: 50rem !important;
}

.btn-box-baas {
  color: var(--custom-baas);
  border-color: var(--custom-baas);
  border-radius: 0.75rem !important;
  border-width: 3px;
  font-size: 10 !important;
  font-family: 'Open Sans', serif !important;
  font-weight: bolder !important;
}

.btn-box-baas:hover {
  color: var(--custom-baas);
  border-color: var(--custom-baas);
  background-color: var(--custom-bg-color);
  border-radius: 50rem !important;
}



.btn-outline-baas-alt {
  color: var(--bs-text-color);
  border-color: var(--custom-baas-alt);
  border-radius: 50rem !important;
  border-width: 3px;
  font-size: 13 !important;
  font-family: 'Open Sans', serif !important;
  font-weight: bolder !important;
}

.btn-outline-baas-alt:hover {
  color: var(--bs-text-color);
  border-color: var(--custom-baas-alt);
  background-color: var(--custom-bg-color);
  border-radius: 50rem !important;
  border-width: 3px;
}

.btn-outline-baas-warning {
  color: var(--bs-warning);
  border-color: var(--bs-warning);
  border-radius: 50rem !important;
  border-width: 3px;
  font-size: 13 !important;
  font-family: 'Open Sans', serif !important;
  font-weight: bolder !important;
}

.btn-outline-baas-warning:hover {
  color: white;
  background-color: var(--bs-warning);
}

.dot-bio {
  width: 20px;
  height: 20px;
  background-color: var(--custom-bio); /* Change color as desired */
  border-radius: 50%;
}

.dot-untreated {
  width: 10px;
  height: 10px;
  background-color: var(--custom-untreated); /* Change color as desired */
  border-radius: 50%;
}

.dot-best {
  width: 10px;
  height: 10px;
  background-color: var(--custom-bio); /* Change color as desired */
  border-radius: 50%;
}

.vertical-line-right {
  border-right: 2px solid var(--custom-lines);
}

.vertical-line-left {
  border-left: 2px solid var(--custom-lines);
}

.horizontal-top-line {
  border-top: 2px solid var(--custom-lines);
  border-width: 100%;
}

.horizontal-bottom-line {
  border-bottom: 2px solid var(--custom-lines);
  border-width: 100%;
}


.vertical-line-brand {
  border-right: 5px solid var(--custom-brand-color);
  height: 100%;
}

.bg-custom-bg{
  background-color: #fff;
}
.bg-custom-morado{
  background: var(--custom-morado );
}

.bg-custom-baas-primary{
  background: var(--custom-bio-morado );
}

.bg-custom-bio-morado{
  background: var(--custom-bio-morado );
}
.bg-custom-violeta{
  background: var(--custom-violeta);
}
.bg-custom-red{
  background: var(--custom-red);
}
.bg-custom-yellow{
  background: var(--custom-yellow);
}
.bg-custom-green{
  background: var(--custom-green);
}
.bg-custom-blue{
  background: var(--custom-blue);
}

div.bg-custom-transparent{
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

div[class*="bg-custom-"]{
  color: white
}

.bg-custom-control{
  background: var(--custom-control) !important;
}

.bg-custom-key-thesis{
  background: var(--custom-baas) !important;
}

.bg-custom-0{
  background: var(--custom-color-0) !important;
}
.bg-custom-1{
  background: var(--custom-color-1) !important;
}
.bg-custom-2{
  background-color: var(--custom-color-2) !important;
}
.bg-custom-3{
  background: var(--custom-color-3) !important;
}
.bg-custom-4{
  background-color: var(--custom-color-4) !important;
}
.bg-custom-5{
  background-color: var(--custom-color-5) !important;
}
.bg-custom-6{
  background: var(--custom-color-6) !important;
}
.bg-custom-7{
  background: var(--custom-color-7) !important;
}
.bg-custom-8{
  background: var(--custom-color-8) !important;
}
.bg-custom-9{
  background: var(--custom-color-9) !important;
}
.bg-custom-10{
  background: var(--custom-color-10) !important;
}
.bg-custom-11{
  background: var(--custom-color-11) !important;
}
.bg-custom-12{
  background: var(--custom-color-12) !important;
}
.bg-custom-13{
  background: var(--custom-color-13) !important;
}
.bg-custom-14{
  background: var(--custom-color-14) !important;
}
.bg-custom-15{
  background: var(--custom-color-15) !important;
}
.bg-custom-16{
  background: var(--custom-color-16) !important;
}
.bg-custom-17{
  background: var(--custom-color-17) !important;
}
.bg-custom-18{
  background: var(--custom-color-18) !important;
}


.border-custom-0{
  border: 2px solid var(--custom-color-0) !important;
  border-left: 7px solid var(--custom-color-0) !important;
  border-right: 7px solid var(--custom-color-0) !important;
}
.border-custom-1{
  border: 2px solid var(--custom-color-1) !important;
  border-left: 7px solid var(--custom-color-1) !important;
  border-right: 7px solid var(--custom-color-1) !important;
}
.border-custom-2{
  border: 2px solid var(--custom-color-2) !important;
  border-left: 7px solid var(--custom-color-2) !important;
  border-right: 7px solid var(--custom-color-2) !important;
}
.border-custom-3{
  border: 2px solid var(--custom-color-3) !important;
  border-left: 7px solid var(--custom-color-3) !important;
  border-right: 7px solid var(--custom-color-3) !important;
}
.border-custom-4{
  border: 2px solid var(--custom-color-4) !important;
  border-left: 7px solid var(--custom-color-4) !important;
  border-right: 7px solid var(--custom-color-4) !important;
}
.border-custom-5{
  border: 2px solid var(--custom-color-5) !important;
  border-left: 7px solid var(--custom-color-5) !important;
  border-right: 7px solid var(--custom-color-5) !important;
}
.border-custom-6{
  border: 2px solid var(--custom-color-6) !important;
  border-left: 7px solid var(--custom-color-6) !important;
  border-right: 7px solid var(--custom-color-6) !important;
}
.border-custom-7{
  border: 2px solid var(--custom-color-7) !important;
  border-left: 7px solid var(--custom-color-7) !important;
  border-right: 7px solid var(--custom-color-7) !important;
}
.border-custom-8{
  border: 2px solid var(--custom-color-8) !important;
  border-left: 7px solid var(--custom-color-8) !important;
  border-right: 7px solid var(--custom-color-8) !important;
}
.border-custom-9{
  border: 2px solid var(--custom-color-9) !important;
  border-left: 7px solid var(--custom-color-9) !important;
  border-right: 7px solid var(--custom-color-9) !important;
}
.border-custom-10{
  border: 2px solid var(--custom-color-10) !important;
  border-left: 7px solid var(--custom-color-10) !important;
  border-right: 7px solid var(--custom-color-10) !important;
}
.border-custom-11{
  border: 2px solid var(--custom-color-11) !important;
  border-left: 7px solid var(--custom-color-11) !important;
  border-right: 7px solid var(--custom-color-11) !important;
}
.border-custom-12{
  border: 2px solid var(--custom-color-12) !important;
  border-left: 7px solid var(--custom-color-12) !important;
  border-right: 7px solid var(--custom-color-12) !important;
}
.border-custom-13{
  border: 2px solid var(--custom-color-13) !important;
  border-left: 7px solid var(--custom-color-13) !important;
  border-right: 7px solid var(--custom-color-13) !important;
}
.border-custom-14{
  border: 2px solid var(--custom-color-14) !important;
  border-left: 7px solid var(--custom-color-14) !important;
  border-right: 7px solid var(--custom-color-14) !important;
}
.border-custom-15{
  border: 2px solid var(--custom-color-15) !important;
  border-left: 7px solid var(--custom-color-15) !important;
  border-right: 7px solid var(--custom-color-15) !important;
}
.border-custom-16{
  border: 2px solid var(--custom-color-16) !important;
  border-left: 7px solid var(--custom-color-16) !important;
  border-right: 7px solid var(--custom-color-16) !important;
}
.border-custom-17{
  border: 2px solid var(--custom-color-17) !important;
  border-left: 7px solid var(--custom-color-17) !important;
  border-right: 7px solid var(--custom-color-17) !important;
}
.border-custom-18{
  border: 2px solid var(--custom-color-18) !important;
  border-left: 7px solid var(--custom-color-18) !important;
  border-right: 7px solid var(--custom-color-18) !important;
}


.color-icon{
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  display: inline-block;
}
.navbar-nav .nav-link{
  font-size: 1rem ;
  color: var(--bs-text-color);
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.no-border{
  border:none !important;
}
.subtitle{
  font-size:1.25rem;
}
.custom-border{
  border: 1px solid var(--custom-brand-color);
}
.custom-bottom{
  border-radius: 2rem;
  font-size:1.25rem;
  padding:0.5rem 0.75rem;
  font-weight:bold;
  text-transform: capitalize;
  border: none !important;
}
.nav-login{
  border-radius: 2rem;
  padding:0.5rem 0.75rem;
  border: none !important;
  background: #29abe0 !important;
	background-size: 200% 200%;
  color: var(--custom-brand-color) !important;
  font-weight: bold !important;
}


.terrain .card-group{
  background-color: transparent;
}

.terrain-grid .graphic-legend{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.terrain-grid .graphic-legend .legend-line{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.terrain-grid .graphic-legend .legend-line p{
  margin: 0px
}

.terrain-grid
.nav-gradient{
  border-radius: 2rem;
  padding:0.5rem 0.75rem;
  border: none !important;
  background: linear-gradient(270deg, #da444f, #fe7965, #f9d400, #c9d222, #3bcf82);
	background-size: 200% 200%;
	animation: gradient 4s ease infinite;
  color: var(--custom-brand-color) !important;
  font-weight: bold !important;
}
.telegraf{
  font-family: 'Rubik', sans-serif;
}
.navbar .nav-item .btn-info{
  border-radius:10px;
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}
.navbar .nav-item .btn-info:hover{
  background:#499ff0;
}
.navbar .nav-item .dropdown-menu{
  text-align:center;
  left:-50%;
  padding: 10px;
}
.navbar .nav-item .dropdown-menu .dropdown-item{
  padding: 0.25rem 3rem;
  border-radius:10px;
}
.navbar .nav-item .dropdown-menu .dropdown-item:hover, .navbar .nav-item .dropdown-menu .dropdown-item:focus {
  color: #8e8c84;
  background-color: #f4f4f4;
}
.navbar .nav-item .dropdown-menu li{
  margin:10px 0px;
}
.navbar .nav-item .dropdown-menu .dropdown-divider{
  margin: 20px;
}

.time-line:is(.dotted){
  border-left: 2px dotted var(--baas-gray);
}
.time-line-entry .time-line-title, .time-line-entry .time-line-detail{
  max-width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.time-line-entry{
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
}

.time-line-entry:first-child{
  padding-top: 0px;
}

.time-line-entry:last-child{
  padding-bottom: 0px;
}

.time-line-entry .time-line-detail {
  font-size: 0.7em;
  color: var(--baas-gray);
}

.time-line-entry .time-line-title {
  font-size: 0.8em;
  font-weight: 600;
  color: var(--bs-text-color);
  flex: 1;
}

.time-line-entry:is(.application)::before{
  content: "";
  position: absolute;
  width: var(--width-height-time-line-icons);
  height: var(--width-height-time-line-icons);
  background-color: white;
  border: 2px solid var(--bs-text-color);
  rotate: 43deg;
  margin-left: var(--left-time-line-icon);
  margin-right: var(--margin-time-line-icon-right);
}

.time-line-entry:is(.assessment)::before{
  content: "";
  position: absolute;
  width: var(--width-height-time-line-icons);
  height: var(--width-height-time-line-icons);
  background-color: white;
  border: 2px solid var(--bs-text-color);
  border-radius: 50%;
  margin-left: var(--left-time-line-icon);
  margin-right: var(--margin-time-line-icon-right);
}

.border-bottom-gray:not(:last-child){
  border-bottom: 1px solid var(--baas-gray);
}
.card-header-baas {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  border-top-left-radius:10px !important;
  border-top-right-radius:10px !important;
  background: #8e8c84;
  font-size: 14px;
  font-family: 'Encode Sans', serif;
  font-weight: bold;
  /* border-bottom: 1px solid rgba(223, 215, 202, 0.75); */
}

.card-header-baas-trial {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  border-top-left-radius:5px !important;
  border-top-right-radius:5px !important;
  background: var(--custom-card-bg-light-violet);
  font-size: 16px;
  font-family: 'Encode Sans', serif;
  font-weight: bold;
  /* border-bottom: 1px solid rgba(223, 215, 202, 0.75); */
}

.stats-table th {
  background-color: var(--custom-card-bg-light-violet) !important;
  font-size: 13px;
  font-family: 'Open Sans', serif;
  font-weight: normal;
}

.stats-table td {
  background-color: var(--custom-card-bg-light-violet) !important;
  font-size: 13px;
  font-family: 'Open Sans', serif;
  font-weight: bold;
}

.card-body-baas {
  background-color:var(--custom-bg-color-cards);
  border-radius: 5px !important;
  padding:20px;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border: 1px solid #E7E7E7 !important;
  box-shadow: 0px 0px 4px 0px #00000015;
  height: fit-content;
}

.card-plot {
  background-color:var(--custom-bg-color-cards);
  border-radius: 2px !important;
  padding:20px 5px;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border: 1px solid #E7E7E7 !important;
  box-shadow: 0px 0px 4px 0px #00000015;
  height: fit-content;
  text-align: center;
}

.card-baas-alt {
  background-color: var(--custom-card-bg-light-violet);
  border-radius:2px !important;
  border: 1px solid var(--custom-card-bg-light-violet) !important;
  padding:20px;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.card-baas-alt:is(.no-color){
  background-color: none;
}

.corporative-gradient{
  background-image: url('https://probelte.com/es/wp-content/uploads/sites/2/2022/09/Probelte_home_color-circle-elements.png');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  z-index: 0;
  mask-position: 80%;
  -webkit-mask-position: 30% 70%;
  -webkit-mask-image: url("mask_paint_circle.png");
  mask-image: url("mask_paint_circle.png");
  -webkit-mask-size: 150%;
  mask-size:200px;
}

.card-bass-alt:has(.masked-paint), .card-bass-alt:is(.container){
  position: relative;
}

.masked-paint{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 105%;
  mask-position: 80%;
  -webkit-mask-position: 80% 10%;
  -webkit-mask-image: url("mask_paint.png");
  mask-image: url("mask_paint.png");
  -webkit-mask-size: 100%;
  mask-size:200px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: var(--custom-baas-alt);
  z-index: 0;
}

.card-baas-alt:is(.assessment-stats) table:not(:last-child) {
  background-color: #efedff;
  border:none;
  border-bottom: 3px solid var(--custom-baas-alt);
}

.card-body-baas:is(.no-padding){
  padding: 0px;
}

.card-body-baas .card-section{
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px;
}

.card-body-baas .card-section:not(:last-child){
  border-bottom: 1px solid var(--custom-gray);
  width: 100%;
}

.card-body-baas .aux-title{
  border-bottom: 1px solid var(--baas-gray);
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
  font-size: 0.8em;
}

.card-body-baas .aux-title:is(.no-border){
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
  font-size: 0.8em;
}

.card-baas-alt .aux-title:is(.gray){
  color: var(--baas-gray)
}

.clipboard{
  -webkit-text-stroke: 1px;
}

.clipboard:is(.bi-clipboard-check){
  color:var(--custom-color-13)
}

.list-group-item-baas {
  color: var(--bs-text-color);
  background-color: var(--custom-bg-color-cards);
}

.list-group-item-baas-select {
  color: var(--bs-text-color);
  background-color: var(--custom-bg-color-cards);
}

.list-group-item-baas-select option {
  padding: 5px;
}

/* Hover effect for list items */
.list-group-item-baas-select option:hover {
  background-color: #ddd;
  color: #000
}

.text-white{
  color: #fff;
}

.text-big-number{
  font-size: 64px;
  color: var( --bs-text-color);
}

.card-header{
  border-radius:5px !important;
  padding :10px 0px;
}
.card-bottom{
  padding: 10px 0px;
  border-radius:10px;
  margin-top:-20px;
  color:#fff;
  font-size:1.35rem;
}
.card-bottom a{
  text-decoration: none;
  vertical-align:middle;
}

.product-image{
  width: var(--product-image-wh);
  z-index: 1;
}

.card-bottom .btn-large{
  color:#fff;
  font-size:1.85rem;
  font-weight:bold;
  text-transform: initial !important;
  text-decoration: none;
  vertical-align:middle;
}

.card-bottom .btn-sm{
  font-size:1.35rem;
  font-weight:normal;
  color:#fff;
  text-decoration: none;
  vertical-align:middle;
}

/* select, textarea, input[type=number], input[type=date]{
  border-radius:10px !important;
} */
input[type='checkbox'], input[type="radio"] {
  border-radius:2px !important;
}

.btn-step_by_step a{
  margin: 0 10px;
  border-radius: 20px !important;
  padding: 5px 15px !important;
}

.text-right {
  text-align: right !important;
}

.btn-header a{
  margin: 0 10px;
  border-radius: 20px !important;
  padding: 5px 15px !important;
}

.classColumn3 {
  column-count: 3;
}

.classColumn2 {
  column-count: 2;
}

.classColumn1 {
  column-count: 1;
}

.classColumn4 {
  column-count: 4;
}

.table-container {
  width: 100%; 
  overflow: auto;
  height: 200px;
}

.table-container-longer {
  width: 100%; 
  overflow: auto;
  height: 2000px;
}

.data-table {
  width:100%;
  table-layout:auto;
}

.data-table td {
  width: 15rem;
  background-color: grey;
}

.table-container-long {
  overflow-x: auto;
}

.data-table-longer {
  width:100%;
  table-layout:auto;
}

.card-body-baas .title{
  margin-left: 4px;
  font-size: 1.3em;
  color: var(--bs-text-color);
  font-weight: 700;
}

.card-body-baas:has(.baas-data-table){
  padding:0px;
}

.baas-data-table th{
  text-transform: uppercase;
  color: var(--baas-gray);
  font-size: 0.8em;
  font-weight: 600;
}

.baas-data-table th, .baas-data-table td{
  padding: 10px;
}

.baas-data-table td{
  vertical-align: middle;
}

.baas-data-table tr:not(:last-child), .baas-data-table thead{
  border-bottom: 1px solid var(--custom-grey);
}

.baas-data-table tfoot{
  border-top: 1px solid var(--custom-grey);
  vertical-align: middle;
}

.baas-data-table .page-number-links{
  vertical-align: middle;
  text-align: right;
}

.carousel, .carousel-inner, .carousel-item{
  width: 100%;
  height: 100%;
}

.carousel-caption{
  color: var(--bs-text-color) !important;
  text-align: left !important;
  left: 0px !important;
}

.baas-data-table tfoot a.current, .baas-data-table tfoot a:hover{
  border-radius: 50%;
  background-color: var(--custom-bio);
  color: white !important;
  text-decoration: none;
}
.bootstrap-icon{
  font-family: var(--font-icons);
}
.chevron{
  font-family: var(--font-icons);
  color: var(--custom-baas);
  font-weight: 900;
  font-size: 0.8em;
  width: 1.5em;
}

.baas-data-table tfoot a{
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
}
.baas-data-table tfoot a:not(.chevron){
  color: #000;
  font-size: 1em;
  width: 1.3em;
  line-height: 1.2em;
}

.selectize-input{
  z-index: 0;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-top-right, .mapboxgl-ctrl-top-right, .mapboxgl-ctrl-top-left{
  z-index: 0 !important;
}

table.data-table-longer tbody td {
  width: 20rem;
}

table.data-table-longer thead th {
  width: 20rem;
  background-color: var(--custom-bg-color-cards);
}

div.flex-inline-form{
  display: inline-flex;
  align-items: center;
  background-color: var(--bs-text-color-white);
}

div.flex-inline-form:has(input:focus){
  box-shadow: 0px 0px 4px 0px #aa4ae4;
}

.self-end{
  align-self: end;
}

div.flex-inline-form span{
  margin-right: 10px;
  font-weight: 600;
}

div.flex-inline-form input{
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 100%;
}

div.flex-inline-form input:focus{
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.bubble{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
}
.bubble .text{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: small;
}

.bubble:is(.black){
  background-color: black;
  color: white;
}

.property {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
}

.property:is(.larger){
  max-width: 400px;
}
/* SCROLLTABLE */
.form-control-baas {
  display: block;
  width: 5rem;
  padding: 0.2rem 0.2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-text-color);
  background-color: var(--custom-form-background);
  background-clip: padding-box;
  /* border: 1px solid #ced4da; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  float: right !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-baas:focus {
  color: var(--bs-text-color);
  background-color: var(--custom-form-background-focus);
  border-color: #99aec4;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(170, 74, 228, 0.25); /* custom-baas */
}

.form-control-baas-longer {
  width: 7.5rem !important;
}

.mapboxgl-popup {
  font-family: Arial, sans-serif;
  background-color: white;
  border-radius: 4px;
  color: black;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.baas-box-shadow {
  box-shadow: 0px 0px 4px 0px #00000026;
  border: 1px solid #E7E7E7 !important;
}

.baas-box-shadow:focus {
  box-shadow: 0px 0px 4px 0px #aa4ae4;
  border: 1px solid #aa4ae4 !important;
}


.nav-tabs-baas {
  border-bottom: 1px solid var(--custom-table-borders);
}

.nav-tabs-baas .nav-link {
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs-baas .nav-link:hover, .nav-tabs-baas .nav-link:focus {
  border-color: var(--custom-baas);
  background-color: var(--custom-baas);
  isolation: isolate;
}

.nav-tabs-baas .nav-link.disabled {
  color: #dfd7ca;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs-baas .nav-link.active,
.nav-tabs-baas .nav-item.show .nav-link {
  color: var(--custom-baas) !important;
  background-color: var(--custom-bg-color);
  border-bottom-color: var(--custom-baas);
  border-bottom-width: 5px;
}

.nav-tabs-baas .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-tabs-baas .nav-link {
  background-color: var(--custom-bg-color);
  border-color: var(--custom-bg-color);
}

.nav-tabs-baas .nav-link,
.nav-tabs-baas .nav-link:focus {
  color: var(--bs-text-color);
}

.nav-tabs-baas .nav-link:hover {
  color: #fff;
}

.nav-tabs-baas .nav-link.disabled,
.nav-tabs-baas .nav-link.disabled:hover,
.nav-tabs-baas .nav-link.disabled:focus {
  background-color: #f8f5f0;
  border-color: #dfd7ca;
  color: #dfd7ca;
}

.txt-regular-11 {
  font-size: 11px;
  font-family: 'Open Sans', serif;
  margin-bottom: 0rem !important;
}


.txt-regular-12 {
  font-size: 12px;
  font-family: 'Open Sans', serif;
  margin-bottom: 0rem !important;
}

.txt-regular-13 {
  font-size: 13px;
  font-family: 'Open Sans', serif;
  margin-bottom: 0rem !important;
}

.txt-regular-14 {
  font-size: 14px;
  font-family: 'Open Sans', serif;
  margin-bottom: 0rem !important;
}

.trial-input {
  font-size: 14px;
  font-family: 'Open Sans', serif;
  margin-bottom: 0.5rem !important;
}


.txt-regular-16 {
  font-size: 16px;
  font-family: 'Open Sans', serif;
  margin-bottom: 0rem !important;
}

.txt-open-semibold-14 {
  font-size: 14px;
  font-family: 'Open Sans', serif;
  font-weight: bold;
}

.txt-open-semibold-15 {
  font-size: 15px;
  font-family: 'Open Sans', serif;
  font-weight: bold;
}


.txt-open-bold-13 {
  font-size: 13px;
  font-family: 'Open Sans', serif;
  font-weight: bolder;
}

.txt-open-bold-15 {
  font-size: 15px;
  font-family: 'Open Sans', serif;
  font-weight: bolder;
}

.txt-open-bold-16 {
  font-size: 16px;
  font-family: 'Open Sans', serif;
  font-weight: bolder;
}

.txt-open-bold-18 {
  font-size: 18px;
  font-family: 'Open Sans', serif;
  font-weight: bolder;
}

.txt-open-bold-22 {
  font-size: 22px;
  font-family: 'Open Sans', serif;
  font-weight: bold;
}

.txt-open-bold-22-no_margin {
  font-size: 22px;
  font-family: 'Open Sans', serif;
  font-weight: bold;
  margin-bottom: 0rem !important;
}

.txt-open-bold-24 {
  font-size: 24px;
  font-family: 'Open Sans', serif;
  font-weight: bold;
}

.txt-open-bold-34 {
  font-size: 34px;
  font-family: 'Open Sans', serif;
  font-weight: bold;
}

.txt-open-semibold-11 {
  font-size: 11px;
  font-family: 'Open Sans', serif;
  font-weight: bold;
  margin-bottom: 0rem !important;
}

.txt-open-semibold-13 {
  font-size: 13px;
  font-family: 'Open Sans', serif;
  font-weight: bold;
  margin-bottom: 0rem !important;
}

.txt-open-semibold-14 {
  font-size: 14px;
  font-family: 'Open Sans', serif;
  font-weight: bold;
  margin-bottom: 0rem !important;
}

.txt-open-semibold-15 {
  font-size: 15px;
  font-family: 'Open Sans', serif;
  font-weight: bold;
  margin-bottom: 0rem !important;
}

.txt-encode-14 {
  font-size: 14px;
  font-family: 'Encode Sans', serif;
  font-weight: bold;
  margin-bottom: 0rem !important;
}

.txt-encode-16 {
  font-size: 16px;
  font-family: 'Encode Sans', serif;
  font-weight: bold;
  margin-bottom: 0rem !important;
}

.txt-encode-18 {
  font-size: 18px;
  font-family: 'Encode Sans', serif;
  font-weight: bold;
  margin-bottom: 0rem !important;
}

.txt-encode-20 {
  font-size: 20px;
  font-family: 'Encode Sans', serif;
  font-weight: bold;
}


.txt-encode-25-700 {
  font-weight: 700;
  font-size: 49px;
  font-family: 'Encode Sans', serif;
  font-weight: bold;
}

.txt-presicav-14 {
  font-size: 14px;
  font-family: 'Presicav';
  margin-bottom: 0rem !important;
}

.txt-presicav-18 {
  font-size: 18px;
  font-family: 'Presicav';
  margin-bottom: 0rem !important;
}

.txt-presicav-22 {
  font-size: 22px !important;
  font-family: 'Presicav';
  margin-bottom: 0rem !important;
}

.txt-presicav-50-700 {
  font-weight: 700;
  font-size: 50px !important;
  font-family: 'Presicav';
  font-weight: bold;
}

.sidebar-item {
  font-size: 14px;
  font-family: 'Open Sans', serif;
  font-weight: bold;
  color: var(--bs-text-color);
  text-decoration: none;
  padding: 0.25rem 1rem;
}

.table-link{
  text-decoration: none;
  color: var(--custom-baas);
  font-weight: 600;
}

.table-link:hover{
  text-decoration: none;
  color: var(--custom-brand-color)
}

.btn-assessment-trial:hover{
  background: var(--custom-bio-morado );
  color: white;
}


.sidebar-item:hover {
  color: #000;
}

.menu-icon {
  font-size: 64px; /* Adjust the size as needed */
  color: var(--custom-baas);    /* Adjust the color as needed */
}

.small-icon {
  font-size: 24px; /* Adjust the size as needed */
  vertical-align: middle;
  /* color: var(--custom-baas);    Adjust the color as needed */
}

.small-icon-16 {
  font-size: 16px; /* Adjust the size as needed */
  vertical-align: middle;
  /* color: var(--custom-baas);    Adjust the color as needed */
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.custom-badge-light-violet{
  background-color: var(--custom-baas-alt);
  color: black;
  font-weight: 400;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.graph-container {
  width: 100%;
}

.items-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt-center {
  text-align: center;
}

.baas-data-table {
  font-size: 14px;
  font-family: 'Encode Sans', serif;
  font-weight: bold;
}

.controls:has(.checkbox){
  display:flex;
  flex-wrap: wrap;
}

.controls .checkbox{
  flex-basis: fit-content;
  flex-grow: 1;
}

.checkbox label input{
  margin-right: 5px;
}

i.flag{
  zoom:2;
  margin: 0px !important;
}

li:has(a.active):has(i.flag){
  background-color: var(--custom-baas-alt);
}

li:has(i.flag){
  padding: 10px;
}

.processed-cell{
  background-color: var(--processed-bg-color) !important;
  transition: background-color 0.3s ease-in;
}

.form-control:has(.selectize-input), .form-select:has(.selectize-input){
  padding: 0;
  border: 0;
}

.selectize-input{
  background: white !important;
}

.form-group:has(.trial-filter) label{
  color: black;
  text-align: center;
  text-wrap: nowrap;
  overflow: hidden;
  font-size: 0.8em;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
}

.form-group:has(.trial-filter){
  text-overflow: ellipsis;
  font-size: 0.8em;

}

.form-group:has(.btn-baas){
  display: flex;
  align-items: center;
}

.form-group.col-sm-2:has(.trial-filter){
  width: 10% !important;
}

.flex{
  display: flex;
}

.flex.column{
  flex-direction: column;
}

.flex.gap-10{
  gap: 10px
}
.reset-margin-true{
  margin: 0 !important;
}

@media (max-width:1586px) {
  .dynamic-table{
    zoom: 85%;
  }
}

@media (max-width: 1388px){
  .dynamic-table{
    zoom: 53%;
  }
}