{% extends "baaswebapp/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if errors %}
<div class="alert alert-primary" role="alert">{{errors}}</div>
{% endif %}
<h1>Product Recommender</h1>
<div class="row">
    <div class="col-md-4">
        <div id="map" width="100%" style='height:500px'></div>
        <div id="latlong"></div>
        
    </div>

</div>
{% endblock %}  

{% block scripts %}
<script>
    var latitude={{latitude}};
    var longitude={{longitude}};
</script>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<script src='/static/baaswebapp/scripts/mapbaas.js'></script>
{% endblock %}  