{% extends "baaswebapp/layout.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% load i18n %}

{% block topbaastitle %}
<div class="vertical-line-right vertical-line-left center-items-vertical">
    <a class="navbar-brand txt-brand txt-presicav-22 ms-3" href="{% url 'product_api' product.id %}">{{ product.name }}</a>
    <span class="badge badge-pill custom-badge-type center-items-vertical txt-open-semibold-13">{{ category }}</span>
    <div class="badge badge-pill custom-badge-efficacy center-items-vertical me-3">
      <span class="txt-uppercase txt-regular-11">{% trans "efficacy range"%}</span>
      <span class="txt-encode-16 ms-2">{{range_efficacy}}</span>
    </div>
</div>
{% endblock %}

{% block content %}
{% url 'product-update' product.id as edit_product %}
<ul class="nav nav-tabs product-primary-tabs">
  <li class="nav-item product-recommendations-tab">
    {% if activeTab == '1' %}
    <button id="product-tab" data-bs-toggle="tab" data-bs-target="#products" role="tab" aria-controls="products"
      aria-selected="true" class="nav-link active product-recommendations-link txt-open-semibold-15 capitalize-first">
    {% else %}
    <button id="product-tab" data-bs-toggle="tab" data-bs-target="#products" role="tab" aria-controls="products"
      aria-selected="false" class="nav-link product-recommendations-link txt-open-semibold-15 capitalize-first">
    {% endif %}
    {% trans "product recommendations"%}</button>
  </li>
  <li class="nav-item product-trials-tab">
    {% if activeTab == '2' %}
    <button id="trials-tab" data-bs-toggle="tab" data-bs-target="#trials" role="tab" aria-selected="true" aria-controls="trials"
      class="nav-link product-recommendations-link active txt-open-semibold-15 capitalize-first">
    {% else %}
    <button id="trials-tab" data-bs-toggle="tab" data-bs-target="#trials" role="tab" aria-controls="trials" aria-selected="false"
      class="nav-link product-recommendations-link txt-open-semibold-15 capitalize-first">
    {% endif %}
    {% trans "trial list"%}</button>
  </li>
  <!-- <li id="download-link">
    <a href="#" class="baas-link"><span class="boostrap-icon">&#xF30A;</span> {% trans "Download Product Info"%}</a>
  </li> -->
</ul>

<div class="tab-content">
  <!-- PRODUCT RECOMMENDATIONS -->
  {% if activeTab == '1' %}
  <div class="tab-pane fade active show" id="products" role="tabpanel" aria-labelledby="product-tab">
  {% else %}
  <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="product-tab">
  {% endif %}
    <div class="row ms-4 product-variant-tabs">
      <ul class="nav flex-column">
        <p class="title txt-uppercase">{% trans "product variants"%}</p>
        <li class="nav-item">
          <button class="nav-link product-variant-link active">{{product.name}}</button>
        </li>
        {% for variant in variants %}
        <li class="nav-item">
          <a class="nav-link product-variant-link" href="{% url 'product_variant-api' variant.id %}">{{variant.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <!--EFFICACY RANGE-->
        <div id="efficacy-range" class="card-baas-alt col-3">
          <div class="labels">
            <p class="capitalize-first">{% trans "efficacy range"%}</p>
            <small>{% trans "*All products trials efficacy range"%}</small>
          </div>
          <div class="range">
            <h3>{{range_efficacy}}</h3>
          </div>
        </div>
        <!--ACTIVE SUBSTANCE-->
        <div id="active-substance" class="card-baas-alt col-3">
          <div class="labels">
            <small class="txt-uppercase">{% trans "active substance"%}</small>
          </div>
          <p><b>{% include 'baaswebapp/show_value.html' with value=product.active_substance url_fix=edit_product %}</b></p>
        </div>
        <!--PLAGUES-->
        <div id="plagues" class="card-baas-alt col-3">
          <div class="labels">
            <small class="txt-uppercase">{% trans "pest / disease" %}</small>
          </div>
          <p><b>{% include 'baaswebapp/show_value.html' with value=product.pest_disease url_fix=edit_product %}</b></p>
        </div>
      </div>
      <div class="row">
        <!-- PRODUCT BASICS INFO -->
        <div id="product-basics" class="rounded-box card-baas-alt col-3">
          <p class="title">{% trans "Product Basics"%}</p>
          <div class="container">
            <div class="row">
              <div class="col-5">
                <small class="txt-uppercase">{% trans "concentration"%}</small>
                <p>{% include 'baaswebapp/show_value.html' with value=product.concentration url_fix=edit_product %}</p>
              </div>
              <div class="col-5">
                <small>PH</small>
                <p>{% include 'baaswebapp/show_value.html' with value=product.ph url_fix=edit_product %}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <small class="txt-uppercase">{% trans "presentation"%}</small>
                <p>{% include 'baaswebapp/show_value.html' with value=product.presentation url_fix=edit_product %}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- APPLICATION -->
        <div id="application" class="card-baas-alt col-7">
          <p class="title">{% trans "Application"%}</p>
          <div class="container">
            <div class="row">
              <div class="col-5">
                <small class="txt-uppercase">{% trans "Application"%}</small>
                <p>{% include 'baaswebapp/show_value.html' with value=product.application url_fix=edit_product %}</p>
              </div>
              <div class="col-5">
                <small class="txt-uppercase">{% trans "weather"%}</small>
                <p>{% include 'baaswebapp/show_value.html' with value=product.weather_temperature url_fix=edit_product %}&deg;C</p>
                <p>{% include 'baaswebapp/show_value.html' with value=product.weather_humidity url_fix=edit_product %}%</p></p>
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <small class="txt-uppercase">{% trans "Security period"%}</small>
                <p>{% include 'baaswebapp/show_value.html' with value=product.security_period url_fix=edit_product %}</p>
              </div>
              <div class="col-5">
                <small class="txt-uppercase">{% trans "Mixes"%}</small>
                <p>{% include 'baaswebapp/show_value.html' with value=product.mixes url_fix=edit_product %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- CROPS TABLE -->
      <div id="crops-table" class="rounded-box row">
        <div class="container">
          <div id="header" class="row flex-nowrap txt-uppercase">
            <div class="col-2"><small>{% trans "crop"%}</small></div>
            <div class="col-2"><small>{% trans "pest / disease" %}</small></div>
            <div class="col-2"><small>{% trans "dosis" %}</small></div>
            <div class="col-2"><small>{% trans "solution volume" %}</small></div>
            <div class="col-2"><small>{% trans "number applications"%}</small></div>
            <div class="col-1"><small style="white-space: nowrap">{% trans "day intervals"%}</small></div>
            <div class="col-1"></div>
          </div>
          {% for crop in crops %}
            <div key="{{ crop.id }}" class="row crop-row flex-nowrap">
              <div class="col-2">
                <p class="name"><b>{{ crop.name }}</b></p>
                <p class="trials-number">Trials {{ crop.trialsCount }}</p>
              </div>
              <div class="col-2">{{ crop.strAgents }}</div>
              <div class="col-2">Lorem Ipsum</div>
              <div class="col-2">Lorem Ipsum</div>
              <div class="col-2">{{ crop.samples }}</div>
              <div class="col-1" style="white-space: nowrap">7-14</div>
              <div class="col-1 button-row">
                <button class="collapse-trials-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#trials-{{ crop.id }}" aria-expanded="false" aria-controls="trials-{{ crop.id }}">
                  <span class="chevron-placeholder"></span>
                </button>
              </div>
            </div>
            <div class="row collapse" id="trials-{{ crop.id }}">
              <div class="card-baas-alt trial-row">
                {% for trial in crop.trials %}
                <div class="trial-line">
                  <p key="{{ trial.id }}"><a href="{%  url 'trial_api' trial.id %}">{{ trial.name }}</a></p>
                  <span></span>
                </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- TRIALS -->
  {% if activeTab == '2' %}
  <div class="tab-pane fade active show" id="trials" role="tabpanel" aria-labelledby="trials-tab">
  {% else %}
  <div class="tab-pane fade" id="trials" role="tabpanel" aria-labelledby="trials-tab">
  {% endif %}
    {% include "trialapp/detail_fieldtrials_list.html" with filter=filter trial_list=trial_list %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var latitude= 38.034670;
    var longitude= -1.189287;
</script>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>
<script src='/static/baaswebapp/scripts/mapbaas.js'></script>
{% endblock %}