<table class="table">
    <thead>
        <tr><th>PRODUCT</th><th>PRODUCT TYPE</th><th>Active Substance</th><th>Efficacy Range</th>
            <th>Trials Date</th><th></th></tr>
    </thead>
    <tbody>
    {% for item in object_list %}
    <tr id="item-{{item.id}}">
        <td><a class="btn btn-light rounded-pill" href="{% url 'product_api' item.id%}">{{ item.name }}</a></td>
        {% include 'baaswebapp/product_display.html' %} 
        <td>{{item.efficacies}}</td>
        <td>{{item.date_range}}</td>
        <td><a class="btn  btn-outline-baas" href="{% url 'fieldtrial-list'%}?product={{item.id}}{{extra_params}}">{{item.trials}} trials &#10132;</a></td>
    </tr>
    </tbody>
    {% empty %}
        <p>No Products yet.</p>
    {% endfor %}
</table>