{% extends "baaswebapp/layout.html" %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}

{% include "baaswebapp/header_page.html" with title=titleList new_href='product-add'%}

<div class="card card-body-baas">
<table class="table" id="table-items">
    <thead>
        <tr><th>Name</th><th># trials</th><th>Dimensions</th><th>Crops</th>
            <th>Plagues</th><th></th></tr>
    </thead>
    <tbody>
    {% for item in object_list %}
    <tr id="item-{{item.id}}">
        <td class="col-md-2"><a class="btn btn-info" href="{% url 'product_api' item.id%}">{{ item.name }}</a></td>
        <td class="col-md-1"><a class="btn btn-sm btn-secondary" href="{% url 'fieldtrial-list'%}?product={{item.id}}">{{item.fieldtrials}}</a></td>
        <td class="col-md-2">{% include "catalogue/show_tags.html" with tags=item.dimensions badge_class='bg-light'%}</td> 
        <td class="col-md-3">{% include "catalogue/show_tags.html" with tags=item.crops badge_class='bg-primary' %}</td>
        <td class="col-md-3">{% include "catalogue/show_tags.html" with tags=item.plagues badge_class='bg-secondary'%}</td>
        <td><a id='delete-item-{{item.id}}' class="btn btn-warning btn-sm btn-sm fs-1">-</a></td>
    </tr>
    </tbody>
    {% empty %}
        <p>Products yet.</p>
    {% endfor %}
</table>
</div>
{% endblock %}


{% block scripts %}
<script src='/static/baaswebapp/scripts/baas.js'></script>
<script>
    var manageItemEndPoint='/product_api';
</script>

{% endblock %}