{% load i18n %}
<table class="table">
    <thead>
        <tr class="txt-open-semibold-11 txt-uppercase">
            <th>{% trans "product" %}</th>
            <th>{% trans "product type"%}</th>
            <th class="col-md-2">{% trans "active substance" %}</th>
            <th>{% trans "efficacy range" %}</th>
            <th>{% trans "trials date" %}</th><th></th></tr>
    </thead>
    <tbody>
    {% for item in object_list %}
    <tr id="item-{{item.id}}">
        <td><a class="btn btn-light rounded-pill" href="{% url 'product_api' item.id%}">{{ item.name }}</a></td>
        {% include 'baaswebapp/product_display.html' %} 
        <td><p class="txt-open-bold-15">{{item.efficacies}}</p></td>
        <td><p class="txt-regular-13">{{item.date_range}}</p></td>
        <td><a class="btn btn-outline-baas" href="{% url 'fieldtrial-list'%}?product={{item.id}}{{extra_params}}">{{item.trials}} trials &#10132;</a></td>
    </tr>
    </tbody>
    {% empty %}
        <p>No Products yet.</p>
    {% endfor %}
</table>