<div id="textCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-indicators">
    {% for counter in textList %}
      <button data-bs-target="#textCarousel" data-bs-slide-to="{{ forloop.counter0 }}" class="item"></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
      {% for text in textList %}
      <div class="carousel-item">
        <div class="carousel-caption">
          <p>{{ text }}</p>
        </div>
      </div>
      {% endfor %}
  </div>
</div>