{% load i18n %}
<div class="container-fluid" >
    <form class="d-flex" method="GET">
        <div class="input-group me-3 ">
            <span class="input-group-text baas-box-shadow txt-regular-13" id="basic-addon1">{% trans "Group Trials by"%}</span>
            <select class="form-select me-2 baas-box-shadow txt-regular-13" name="groupby" aria-describedby="basic-addon1">
                {% for selectOption in groupbyfilter%}
                    {% if selectOption.value == groupby %}
                        <option value="{{selectOption.value}}" selected>{{selectOption.name}}</option>
                    {% else %}
                        <option value="{{selectOption.value}}">{{selectOption.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="input-group me-3">
            <span class="input-group-text baas-box-shadow txt-regular-13 material-symbols-outlined" id="basic-addon2">Search</span>
            <input class="form-control me-2 baas-box-shadow" type="search" aria-label="Search" placeholder="{% trans 'Search i.e. product, code, crop, responsible'%}" name="name" aria-describedby="basic-addon2">
        </div>
        <div class="input-group">
            <span class="input-group-text baas-box-shadow material-symbols-outlined" id="basic-addon3">date_range</span>
            <input class="form-control mydateinput me-2 baas-box-shadow" type="date" aria-label="Date"  name="date" aria-describedby="basic-addon3">
        </div>
        <div class="input-group">
            <span class="input-group-text baas-box-shadow material-symbols-outlined" id="basic-addon4">tune</span>
            <input class="form-control mydateinput me-2 baas-box-shadow" type="extrafilter" aria-label="extrafilter"  name="date" aria-describedby="basic-addon4">
        </div>
        <button class="btn btn-baas me-3" type="submit">Filter</button>
    </form>
</div>
