{% extends "baaswebapp/layout.html" %}
{% load widget_tweaks %}

{% block topbaasheader %}
{% include "baaswebapp/baas_view_filter_top.html" with trialfilter=trialfilter %}
{% endblock %}

{% block content %}

<div class="row ms-3 me-3">
    {% include 'baaswebapp/baas_view_filter.html' with groupbyfilter=groupbyfilter groupby=groupby%}
    <div class="col-md-9 col-sm-12">
        <div class="card card-body-baas mt-3">
            {% if groupby == 'product' %}
                {% include 'catalogue/product_list.html' %}
            {% elif groupby == 'trials' %}
                {% include 'trialapp/trials_list.html' %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        {% include "baaswebapp/two_boxes.html" with left_text='products' right_text='trials' left_number=num_products right_rumber=num_trials %}
        <div class="card card-body-baas mt-3">
            {{graphCategories|safe}}
        </div>
    </div>
</div>
{% endblock %}
