
<li class="nav-item">
    <form class="d-flex" action="{% url 'fieldtrial-list' %}" method="GET">
      <input class="form-control me-sm-2" type="text" placeholder="name, code, responsible" name="name">
      <button class="btn btn-baas" type="submit">Search</button>
    </form>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarActionsDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
    Menu
  </a>

  <ul class="dropdown-menu" aria-labelledby="navbarActionsDropdownMenu">
    <li><a class="dropdown-item" href="{% url 'product-list' %}">Product</a></li>
    <li><a class="dropdown-item" href="{% url 'fieldtrial-list' %}">Field Trials</a></li>
    <li><a class="dropdown-item" href="{% url 'labtrial-list' %}">Lab Trials</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'statsdata' %}">Stats</a></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarActionsAddDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
    Add
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarActionAddDropdownMenu">
    <li><a class="dropdown-item" href="{% url 'fieldtrial-add' %}">new trial</a></li>
    <li><a class="dropdown-item" href="{% url 'product-add' %}">new product</a></li>
    <li><a class="dropdown-item" href="{% url 'labtrial-add' %}">new lab trial</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'thesis_quality_panel' %}">Correct thesis</a></li>
    <li><a class="dropdown-item" href="{% url 'admin:index' %}">Configuration</a></li>
  </ul>
</li>
