
{% if showAsList %}
<select id="input-select-{{tag}}-{{item_id}}" size=10 name='{{tag}}' class="form-select form-select-lg list-group-item-baas-select no-border">
{% else %}
<select id="input-select-{{tag}}-{{item_id}}" name='{{tag}}' class="form-control no-border">
{% endif %}
    {% if currentValue == "" %}
        <option value selected>.....</option>
    {% else %}
        {% if addNull %}
            <option value>.....</option>
        {% endif %}
    {% endif %}
    {% for selectOption in selectOptions%}
        {% if selectOption.value == currentValue %}
            <option value="{{selectOption.value}}" selected>{{selectOption.name}}</option>
        {% else %}
            <option value="{{selectOption.value}}">{{selectOption.name}}</option>
        {% endif %}
    {% endfor %}
</select>
