{% extends "baaswebapp/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% load i18n %}
<style>
  /* This is to change format of bootstrap login */
    label{
        display:none;
    }
    input{
        border-radius:20px !important;
        padding:15px !important;
        width:100% !important;
    }
    input[type=submit]{
        background:var(--custom-blue);
        border:none !important;
    }
    ::placeholder {
        text-align: center; 
    }
    a{
        color:var(--custom-blue);
        text-decoration:none !important;
    }
    h1{
        font-size:4rem;
        font-weight:900;
    }
</style>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-info" role="alert" > {{ message }} </div>
    {% endfor %}
{% endif %}
{% if errors %}
    <div class="alert alert-warning" role="alert">{{errors}}</div>
{% endif %}
<div class="row">
    <div class="col-md-6  p-5">
        <p class="txt-encode-25 txt-baas-baas fs-2">
          {% trans "Collect trial data," %}<br />
          {% trans "build insights" %}<br />
          {% trans "and get smarter!" %}
        </p>
        <p class="txt-presicav-50-700 txt-custom-main fs-1">BaaS Copilot</p>
        <p class="txt-encode-25 txt-baas-baas fs-4">{% trans "the agro input recommendation tool" %}</p>
    </div>
    <div class="col-md-6 p-5 text-center">
        <div class="card card-body-baas">
            <p class="card-title txt-encode-20 mb-3">{% trans "Please login for full access to all features" %}</p>


            <hr/>
            <div class="card-body">
              <p class="txt-encode-14 mb-2">{% trans "Login without password" %}</p>
              <div id="login_buttons" class="m-2">
                  <button class="btn btn-outline-baas mb-3" type="button" onclick="activateEmail()">
                      <span class="material-symbols-outlined ms-2">email</span>
                      {% trans "Login using e-mail" %}</button>
                  <button class="btn btn-outline-baas mb-3" type="button" onclick="authn('loginForm')">
                      <span class="material-symbols-outlined ms-2">fingerprint</span>
                      {% trans "Login using Passkey" %}
                  </button>
                  <form id="loginForm" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <input id="username" type="hidden" name="username" />
                    <input id="password" type="hidden" name="password" />
                    <input type="hidden" name="passkeys" id="passkeys" />
                  </form>
              </div>
              <div id="email_form" style="display: none">
                <form action="/login_email" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="passkeys" id="passkeys" />
                  <input id="username" type="text" name="username" maxlength="100" placeholder="{% trans 'Your email '%}"/>
                  <input type="submit" class="btn btn-outline-baas mt-3" value="{% trans 'Send e-mail' %}"/>
                </form>
              </div>
            </div>
            <hr/>
            <div class="card-body">
                <p class="txt-encode-14 mb-2">{% trans "Login using BaaS user and password:" %}</p>
                {% crispy formLogin %}
            </div>
        </div>
    </div>
</div>
{% include 'passkeys.js' %}
{% endblock %}

{% block scripts %}

<script src='/static/baaswebapp/scripts/email_login.js'></script>
{% endblock %}

