<div class="card card-body-baas mt-3 reset-margin-{{reset_margin}}">
<div class="row">
    <!-- First Box -->
    <div class="col-md-6 vertical-line-right">
      <div class="text-center  ">
        <p class="txt-open-bold-24"><span class="material-symbols-outlined small-icon">sanitizer</span> {{left_number}}</p>
        <p class="txt-regular-13">{{left_text}}</p>
      </div>
    </div>

    <!-- Second Box -->
    <div class="col-md-6">
      <div class="text-center">
        <p class="txt-open-bold-24"><span class="material-symbols-outlined  small-icon">analytics</span> {{right_rumber}}</p>
        <p class="txt-regular-13">{{right_text}}</p>
      </div>
    </div>
</div>
</div>